Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-08, with the labels that each got.

#663 Fixes king spells on crowning... also fixes all roundstart spice spawns.
  _maps/custom/roguetown2.dmm
  _maps/map_files/backup2/roguetown.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/grimoria/roguetown.dmm
  _maps/map_files/grimoria/roguetown2.dmm
  _maps/map_files/oldtown/oldtown.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetown/old/roguetown.dmm
  _maps/map_files/roguetown/roguetown.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/game/objects/items/rogueitems/natural.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance, Mapping

#681 Bundle of QoL
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/roguetown/roguemachine/submission.dm
  icons/roguetown/misc/structure.dmi
Labels: Mapping, Spriting

#608 Changes Pick combat skill to maces from mining
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
Labels: Balance

#566 Prince/Princess Stat/Skill Buff
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#674 Resident Keys, Towner Class Info & Town Expansion
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/templates/sewers/sewers_bottomright_1.dmm
  _maps/map_files/templates/sewers/sewers_bottomright_2.dmm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/rogue/role_class_handler/class_register.dm
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  roguetown.dme
Labels: Balance, Mapping

#689 Some map tweaks and bugfixes
  _maps/conflict_marker.dm
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  roguetown.dme
Labels: Balance, Mapping

#691 Change to the male tonage sprite to not look like shit
  icons/mob/body_markings/other_markings.dmi
Labels: Spriting

#623 Some toolings
  code/__DEFINES/role_bans.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/datums/diseases/transformation.dm
  code/datums/migrants/migrant_pref.dm
  code/datums/migrants/migrant_role.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/ai_core.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/blacklist.dm
  code/modules/admin/holder2.dm
  code/modules/admin/role_ban_panel.dm
  code/modules/admin/role_bans.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/ooc.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/stats.dm
  code/modules/mob/say.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/organs/eyes.dm
  interface/interface.dm
  modular/code/modules/living/emote.dm
  roguetown.dme
Labels: Balance

#759 Fixes pathing error for leather seacoat + gives seamster a needle
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/roguetown/roguecrafting/leather.dm
Labels: Balance

#761 Time for more tweaks
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/sexcon/sex_actions/sex/throat_sex.dm
  code/game/atoms.dm
  code/game/objects/effects/temporary_visuals/surrender_flag.dm
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/modules/cargo/packsrogue/apparel.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  modular/code/datums/sexcon/sex_actions/feather/feather_feet.dm
  modular/code/modules/living/emote.dm
  modular/code/modules/living/say.dm
  roguetown.dme
Labels: Mapping

#736 Low pressure at latejoin boat fix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#733 Some grammar fixes in job tutorials
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/monk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#724 Adds stockings and fishnets to a few classes
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

#645 Perfumes
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/components/pollutant.dm
  code/datums/pollutant.dm
  code/datums/stress/positive_events.dm
  code/game/objects/items/rogueitems/perfume.dm
  code/game/turfs/open/pollutants.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/roguetown/roguestock/import.dm
  icons/roguetown/items/perfume.dmi
  roguetown.dme
  sound/items/perfume.ogg
Labels: Mapping, Spriting

#765 Remove RNG from peasant towner
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
Labels: Balance

#762 Crop Sprites: Jacksberries, Westleach, Swampweed
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
Labels: Spriting

#738 Gives minstrels the same reading as bard
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
Labels: Balance

#744 Changes Templar helmet FOV, removes them from heavy category
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Balance

#778 Ports Sleeping bags and Sleeping cloths
  code/datums/status_effects/debuffs.dm
  code/datums/stress/negative_events.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#800 removes weaving skill, pushes into sewing
  code/datums/skills/misc.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/roguetown/roguecrafting/weaving.dm
Labels: Balance

#775 Rockhill Miniscule changes - As Requested
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#782 Barber surgeon permisions
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
Labels: Balance

#797 Re-Flavors most of the Garrison. Bailiff -> Royal Marshal
  _maps/map_files/oldtown/oldtown.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/jobs/jobs.dm
  code/modules/shuttle/supply.dm
  roguetown.dme
Labels: Balance, Mapping

#799 Makes jester str, luc and int rolling a curve
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
Labels: Balance

#814 Makes peasants less shit
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
Labels: Balance

#781 Ports the Signal Horn from Stonekeep
  code/game/objects/items/rogueitems/signal_horn.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  icons/roguetown/items/misc.dmi
  roguetown.dme
  sound/items/signalhorn.ogg
Labels: Balance, Spriting

#732 YOU CAN NOW COOK SO MUCH STUFF
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/cargo/packsrogue/seeds.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/farming/chaff.dm
  code/modules/farming/composter.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/farming/trash.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/roguetown/mapgen/cavefloor.dm
  code/modules/roguetown/mapgen/mountains.dm
  code/modules/roguetown/roguejobs/cook/ingredients/meat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/breads.dm
  code/modules/roguetown/roguejobs/cook/recipes/meat.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/pies.dm
  code/modules/roguetown/roguejobs/cook/recipes/plates.dm
  code/modules/roguetown/roguejobs/cook/recipes/soups.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/surgery/organs/feature_organs/antennas.dm
  code/modules/surgery/organs/feature_organs/frills.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  code/modules/surgery/organs/feature_organs/horns.dm
  code/modules/surgery/organs/feature_organs/snout.dm
  code/modules/surgery/organs/feature_organs/tails.dm
  code/modules/surgery/organs/organ_internal.dm
  icons/obj/hydroponics/seeds.dmi
  icons/obj/surgery.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/items/food.dmi
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
  icons/roguetown/misc/fish.dmi
Labels: Spriting

#757 Adds some overflow cells to the keep dungeon
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#719 Heat Treating plate armor to blue it
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/treatingfurnace.dm
  icons/roguetown/misc/forge.dmi
  roguetown.dme
Labels: Spriting

#769 Fixed: swords PR, now with 25% more swords
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#709 Dont care about races trait
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
Labels: Balance

#754 added an abandoned mining shaft far south-west in the bog + added missing indoor areas
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#824 Fixes missing sprites
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#826 fixes my dungeon fuckup
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#823 Part one of new sprites for #732.
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
Labels: Spriting

#838 Makes the padded dress dyable.
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Balance, Spriting

#845 Fixes blocked door in the graveyard
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#844 Ports and edits weapon sprites from StoneKeep
  code/game/objects/items/rogueweapons/melee/blunt.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#849 Gives Priest graveyard key and gives mortician church key
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
Labels: Balance

#848 Gives Grenzels a chance to spawn with a Zweihander
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
Labels: Balance

#813 Bundle of unpopular changes
  code/datums/components/slippery.dm
  code/datums/materials/basemats.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Balance

#763 Dungeoneer tweaks/more hermes
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
Labels: Balance, Mapping

#727 The other bandit hideout PR
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#463 Prosthetics
  code/datums/character_flaw/limbloss.dm
  code/game/objects/items/rogueitems/prostheticarm.dm
  code/game/objects/items/rogueitems/prosthetics.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/mob/living/grabbing.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
  icons/mob/species/anthro_small_female.dmi
  icons/mob/species/anthro_small_male.dmi
  icons/mob/species/goblin_female.dmi
  icons/mob/species/goblin_male.dmi
  icons/mob/species/male.dmi
  icons/mob/species/moth_f.dmi
  icons/mob/species/moth_m.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/mob/bodies/f/fd.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
  icons/roguetown/mob/bodies/f/ft_muscular.dmi
  icons/roguetown/mob/bodies/m/md.dmi
  icons/roguetown/mob/bodies/m/mem.dmi
  icons/roguetown/mob/bodies/m/met.dmi
  icons/roguetown/mob/bodies/m/mt.dmi
  icons/roguetown/mob/bodies/m/mt_muscular.dmi
  roguetown.dme
Labels: Spriting

#859 Fixes incorrect saber icon.
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#862 Bandit camp tweak and manor fix
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#857 Physician improvement
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  roguetown.dme
Labels: Balance, Mapping

#854 Removes race lock from Smuggler
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/smuggler.dm
Labels: Balance

#853 Removes Axian lock from pirate class.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/pirate.dm
Labels: Balance

#807 Soilson Farm, Butcher, and Village Elder Remap & Rebalance.
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
Labels: Balance, Mapping
