Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-09, with the labels that each got.

#886 Assignable Nobles from Hearthstone
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#880 Makes MAA less ugly
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Balance

#876 Misc sprite bundle.
  icons/roguetown/items/food.dmi
  icons/roguetown/items/natural.dmi
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#864 Prosthetic on mob fix
  icons/mob/species/anthro_small_female.dmi
  icons/mob/species/anthro_small_male.dmi
  icons/mob/species/goblin_female.dmi
  icons/mob/species/goblin_male.dmi
  icons/mob/species/male.dmi
  icons/mob/species/moth_f.dmi
  icons/mob/species/moth_m.dmi
  icons/roguetown/mob/bodies/f/fd.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
  icons/roguetown/mob/bodies/f/ft_muscular.dmi
  icons/roguetown/mob/bodies/m/md.dmi
  icons/roguetown/mob/bodies/m/mem.dmi
  icons/roguetown/mob/bodies/m/met.dmi
  icons/roguetown/mob/bodies/m/mt.dmi
  icons/roguetown/mob/bodies/m/mt_muscular.dmi
Labels: Spriting

#881 Rockhill Map Cleanup
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#760 Dungeons
  _maps/_basemap.dm
  _maps/map_files/generic/Dungeons.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/templates/smalldungeons/dungeon1.dmm
  _maps/map_files/templates/smalldungeons/dungeon2.dmm
  _maps/templates/dungeons.dm
  code/game/objects/effects/spawners/roguemapgen.dm
  code/modules/mapping/space_management/zlevel_manager.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  roguetown.dme
Labels: Mapping

#867 Fixes the old cave staircase
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#858 Keep map tweaks
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#832 sellswords can now pick their weapon instead of it being random
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/mercenaries/sellsword.dm
Labels: Balance

#831 NEW swashbuckler rogue archetype
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  icons/roguetown/clothing/onmob/gloves.dmi
Labels: Balance, Spriting

#677 Female veteran
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Balance

#878 Fills main keep and church water barrel and fixes old reagent/unit mixup in the code.
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/farming/fermenting_barrel.dm
Labels: Mapping

#835 Adds some stairs in the merchants so he can more easily access his balloon from the store front
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#887 Prosthetic fixes
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/mob/species/female.dmi
Labels: Spriting

#904 gives queen goodlover trait
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
Labels: Balance

#902 Graveyard expansion V2, added small changes, new version with current main map
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#892 Improves Merchant's shop QoL and security
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#906 Catch Button fix.
  icons/mob/roguehud.dmi
Labels: Spriting

#908 Cleans up oversights from #892
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#897 Randomly generates caverns in the Z1 bog
  _maps/map_files/rockhill/rockhill.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/structures/roguetown/rogueflora.dm
Labels: Mapping

#913 Mortician Glowup
  code/modules/jobs/job_types/roguetown/church/mortician.dm
Labels: Balance

#931 Bugfix for #913
  code/modules/jobs/job_types/roguetown/church/mortician.dm
Labels: Balance

#916 Buffs noble pilgrims, removes sexism
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
Labels: Balance

#921 Grants shophands conditional access to their key, and cosmetic adjustments
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/roguetown/roguemachine/merchant.dm
Labels: Balance

#739 Allows every race to be bogmaster
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
Labels: Balance

#789 New migrant wave: The Zybantine Slavers (tested and functional)
  code/datums/migrants/migrant_pref.dm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/datums/migrants/migrant_waves/slaver wave.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/storage.dm
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/clothing/onmob/head.dmi
  roguetown.dme
  sound/music/combat_zybantine.ogg
  sound/music/credits.txt
Labels: Spriting

#648 Apothecary towner
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/apothecary.dm
  code/modules/jobs/job_types/roguetown/yeomen/apothecary.dm
  roguetown.dme
Labels: Balance

#940 Weaponsmiths have a job now (Adventurers have iron weapons)
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
Labels: Balance

#955 Metal uniformity.
  icons/roguetown/items/ore.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#977 PROPERLY removes heavy armor from LIFE cleric
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#984 Chasuble and Stole are priestess compatible
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#974 Physician fixes/buff?
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
Labels: Mapping

#978 Tiefling Customization - Horns + Wagging Tails
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/surgery/organs/feature_organs/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
  icons/mob/sprite_accessory/tails/tiefling.dmi
  icons/mob/sprite_accessory/tiefling.dmi
Labels: Spriting

#1004 Adds a smithable snouted mask
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
Labels: Spriting

#1022 readds excidium
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/roguetown/roguemachine/bounty.dm
Labels: Mapping

#1017 Improves Smoothing PORT FROM AZURE
  code/game/turfs/open/floor/roguefloor.dm
  icons/turf/roguefloor.dmi
Labels: Spriting

#1044 Dress sprite update/reshade
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Spriting
