Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-10, with the labels that each got.

#1055 Metal uniformity V2- Red Iron Edition
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/rings.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/cooking.dmi
  icons/roguetown/items/food.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/items/valuable.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/ammo.dmi
  icons/roguetown/weapons/tools.dmi
Labels: Spriting

#1045 Prosthetic Fix 4
  icons/roguetown/mob/bodies/m/met.dmi
Labels: Spriting

#950 [PORT] Magic mastery
  code/__DEFINES/lighting.dm
  code/__DEFINES/traits.dm
  code/_onclick/hud/action_button.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/mind.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/granters.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/bladesinger.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/spells/roguetown/wizard.dm
  code/modules/spells/spell.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/roguehudgrabs.dmi
  roguetown.dme
  sound/foley/finger-snap.ogg
Labels: Balance, Spriting

#1080 Armory Reinforcement
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1072 Lfisher bug fix
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
Labels: Balance

#1030 Craftable arming jackets + fem sprite for it
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Spriting

#1089 Tavern and baths revamp V2
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1095 Revert "No more legendary pilgrims (#1091)"
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmonk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
Labels: Balance

#1105 Bath housed door fixes, added railing + moved peddler and updated a few tavern doors
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1107 Fixed table atmo settings, broken balcony part, moved peddler
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1058 Adds Priest and Templar combat track
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  sound/music/combat_clergy.ogg
  sound/music/credits.txt
Labels: Balance

#1109 Taskbar icon update.
  icons/ss13_32.png
  icons/tg_32.png
Labels: Spriting

#1056 Allows shunned races in the position of Head Butler/Maid.
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
Labels: Balance

#1096 Druid briarmask craftable by druids and dendor clerics
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/roguetown/roguecrafting/items.dm
Labels: Balance

#1123 New Spider Sprites by Infrared Baron
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  icons/roguetown/mob/monster/spider.dmi
Labels: Spriting

#1131 Bath house revision, updated for merge
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1078 lowers adventurer cap to 10
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
Labels: Balance

#1125 Bladesinger Improvement
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/bladesinger.dm
Labels: Balance

#1129 Lowers legendary pilgrim chance
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmonk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
Labels: Balance

#1085 Warrior buff
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Balance

#1119 Keep combar roles keys
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Balance

#1136 Grenzelhoft tabaxi
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
Labels: Balance

#1157 Azurn port, colors, runtimes fixes, organization, and code de-slurification.
  code/__DEFINES/colors.dm
  code/__DEFINES/inventory.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/game.dm
  code/__HELPERS/lordcolor.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/controllers/subsystem/ticker.dm
  code/datums/components/footstep.dm
  code/datums/materials/basemats.dm
  code/datums/mutations/speech.dm
  code/datums/wounds/types/dislocations.dm
  code/datums/wounds/types/fractures.dm
  code/game/machinery/doors/checkForMultipleDoors.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/walldeco.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/admin/secrets.dm
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac_structures.dm
  code/modules/client/verbs/ghost.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/old/chaplain.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/throne.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Balance

#1156 QoL tweaks (T-screenshake, recruitment speechshift, shovels 4 miners/masons, misc)
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/discord/accountlink.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/mason.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance

#1176 A pack of small map changes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1227 Inn's kitchen revamp, bar removal, bellfix
  _maps/map_files/rockhill/rockhill.dmm
  roguetown.dme
Labels: Mapping

#1335 Confessor Correction
  code/modules/jobs/job_types/roguetown/church/confessor.dm
Labels: Balance

#1331 Seelie Removal from Merchant Mercenary
  code/modules/jobs/job_types/roguetown/mercenaries/merch_merc.dm
Labels: Balance

#1329 Ruralization - Two Cottages
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1342 Invisible Hardtack Fix
  _maps/custom/roguetown2.dmm
  _maps/map_files/backup2/roguetown.dmm
  _maps/map_files/grimoria/roguetown.dmm
  _maps/map_files/grimoria/roguetown2.dmm
  _maps/map_files/oldtown/oldtown.dmm
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetown/old/roguetown.dmm
  _maps/map_files/roguetown/roguetown.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  _maps/map_files/templates/lil_bog_shack/bog_shack_small_2.dmm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/roguetown/roguestock/import.dm
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
Labels: Mapping

#1351 Templar Cloaks
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Balance, Spriting

#1346 Backpack Sprite
  icons/roguetown/clothing/storage.dmi
Labels: Spriting

#1345 Surgery Tools Sprites
  icons/roguetown/items/surgery.dmi
Labels: Spriting
