Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-12, with the labels that each got.

#1721 Maniac Buff
  code/modules/antagonists/roguetown/villain/maniac/maniac.dm
Labels: Discussion Needed

#1737 probably fixes templar
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1747 [Port] New Inventory UI from Azure Keep
  icons/mob/screen_gen.dmi
Labels: Spriting, Test Merge

#1746 [Port] Tabards and amulets of the Ten from Stonekeep and Azure Keep
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Balance, Spriting, Test Merge

#1740 GIGA SEAMSTER BUFF (REAL) | FINALLY A RAVOX HELM IN THE SMITHY
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Test Merge

#1752 Map_Rockhill: Added more Eoran items
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1755 Seelie Bugfixes and Re-implementations
  code/controllers/subsystem/rogue/seelie_tab.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/stats.dm
Labels: Balance

#1753 gives shophands the normal see prices trait
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

#1751 Eoran acolytes can perform marriages.
  code/game/objects/structures/fluff.dm
Labels: Test Merge

#1758 Eoran spells overhaul
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  icons/mob/actions/roguespells.dmi
Labels: Spriting, Test Merge

#1762 Removes RnG from some roles
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance

#1697 The antag re-enablement
  code/datums/migrants/migrant_wave.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac_wonders.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
Labels: Balance, Test Merge

#1654 THE ARCHITECT UPDATE: Craftable Guns by Engineers, Keep Architect, Blunderbusses, and more!
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/combat.dm
  code/__DEFINES/jobs.dm
  code/_onclick/item_attack.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/gunparts.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/ammo.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/blunderbuss.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/pistol.dm
  code/game/objects/items/singularityhammer.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificier.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/ammo.dmi
  icons/roguetown/weapons/tools.dmi
  roguetown.dme
  sound/combat/chainsaw_loop.ogg
  sound/combat/drill_loop.ogg
Labels: Discussion Needed, Balance, Mapping, Spriting, Test Merge, Requested Changes

#1739 Exploit/game abuse removal
  code/modules/cargo/packsrogue/brigand.dm
  code/modules/cargo/packsrogue/foresworn.dm
  code/modules/cargo/packsrogue/hedgeknight.dm
  code/modules/cargo/packsrogue/stuff.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Test Merge

#1777 Puts knife in bag
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
Labels: Balance

#1782 Fix leather gloves' sprite not showing.
  code/modules/clothing/rogueclothes/leather/gloves.dm
  icons/roguetown/clothing/gloves.dmi
Labels: Spriting

#1770 Update DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Test Merge

#1788 Runelock now uses firearm skill + Gives firarm skill to inquisitor
  code/game/objects/items/rogueweapons/ranged/gunpowder/runelock.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#1791 Remove old cooking code
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/cook/ingredients/fat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/meat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/breads.dm
  code/modules/roguetown/roguejobs/cook/recipes/meat.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  code/modules/roguetown/roguejobs/cook/recipes/pies.dm
  code/modules/roguetown/roguejobs/cook/recipes/plates.dm
  code/modules/roguetown/roguejobs/cook/recipes/soups.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  roguetown.dme
Labels: Mapping

#1790 Religious Clothing Adjustment
  code/modules/clothing/rogueclothes/robes.dm
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Spriting

#1787 Hunter Skill Increases
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
Labels: Balance

#1776 Fix and buff Eoran spells
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/spells/roguetown/acolyte/eora.dm
Labels: Test Merge

#1778 Random bandit players
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
Labels: Balance

#1797 The return of alternative eoran robe
  code/modules/clothing/rogueclothes/robes.dm
Labels: Discussion Needed

#1775 Ports Lockpicking
  code/datums/skills/misc.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/foresworn.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/pirate.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/smuggler.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/sellsword.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificier.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/roguetown/items/keys.dmi
  modular/code/game/objects/pillory.dm
  roguetown.dme
  sound/items/pickbad.ogg
  sound/items/pickbreak.ogg
  sound/items/pickgood1.ogg
  sound/items/pickgood2.ogg
Labels: Balance, Spriting, Test Merge

#1805 Added keys to Churhling and Squire
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#1112 EXPLOSIONS
  code/datums/explosion.dm
  code/game/atoms.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/items/rogueitems/bombs.dm
  code/game/objects/obj_defense.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/wall/roguewalls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_defense.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Test Merge

#1804 Faulds & battleskirts, new clothing!
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#1800 Lots of new clothing ported from azure
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/clothing/rogueclothes/new/armor.dm
  code/modules/clothing/rogueclothes/new/cloaks.dm
  code/modules/clothing/rogueclothes/new/gloves.dm
  code/modules/clothing/rogueclothes/new/masks.dm
  code/modules/clothing/rogueclothes/new/pants.dm
  code/modules/clothing/rogueclothes/new/shirts.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/newclothes/dripobj.dmi
  icons/roguetown/clothing/newclothes/objgloves.dmi
  icons/roguetown/clothing/newclothes/objmasks.dmi
  icons/roguetown/clothing/newclothes/objshadowcloak.dmi
  icons/roguetown/clothing/newclothes/onmob/masks.dmi
  icons/roguetown/clothing/newclothes/onmob/onmobdrip.dmi
  icons/roguetown/clothing/newclothes/onmob/onmobgloves.dmi
  icons/roguetown/clothing/newclothes/onmob/onmobsilkpants.dmi
  icons/roguetown/clothing/newclothes/onmob/onmobstewardshirts.dmi
  icons/roguetown/clothing/newclothes/onmob/shadowcloak.dmi
  icons/roguetown/clothing/newclothes/onmob/sleeves_armor.dmi
  icons/roguetown/clothing/newclothes/onmob/sleeves_pants.dmi
  icons/roguetown/clothing/newclothes/onmob/sleeves_robes.dmi
  icons/roguetown/clothing/newclothes/onmob/sleeves_shirts.dmi
  icons/roguetown/clothing/newclothes/silkpants.dmi
  icons/roguetown/clothing/newclothes/stewardshirts.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting

#1773 Map optimizations
  _maps/rockhill.json
  _maps/roguetest.json
  code/__DEFINES/maps.dm
  code/datums/outdoor_datum.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_turf.dm
  code/world.dm
Labels: Mapping, Test Merge

#1771 Architect Rebalance + Moved spawn position
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
Labels: Balance, Mapping, Test Merge

#1774 Turning no longer cancels running
  code/modules/mob/mob_movement.dm
Labels: Test Merge

#1816 Pantheon mood adjustments
  code/__DEFINES/traits.dm
  code/datums/gods/patrons/zizo.dm
  code/datums/stress/negative_events.dm
  modular/Smoker/code/Smoker.dm
  modular/code/modules/living/carbon/stress.dm
Labels: Test Merge

#1828 Vanguard new outfit
  code/modules/clothing/rogueclothes/new/cloaks.dm
  code/modules/clothing/rogueclothes/new/shirts.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/newclothes/onmob/shadowcloak.dmi
Labels: Balance, Spriting

#1806 Revert "Requested Sneak Changes & More"
  code/__DEFINES/mob_timers.dm
  code/datums/components/leanable.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/stats.dm
  code/modules/mob/mob_movement.dm
  code/modules/spells/spell.dm
Labels: Test Merge

#1826 Map Adjustments
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1829 Shunned races can join as barkeeper
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
Labels: Balance

#1832 Goblin QoL Changes | Buffs
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
Labels: Balance

#1840 Gender Equality or Something
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
Labels: Balance

#1841 Signal horn fix sprite
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  icons/roguetown/items/misc.dmi
Labels: Balance, Spriting

#1811 Slight rebalance court roles and shophand
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#1846 More lockpicks!
  code/modules/cargo/packsrogue/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
Labels: Balance

#1843 QoL, bug fix SCOM and more skin tones for tieflings
  code/__DEFINES/mobs.dm
  code/game/objects/items/rogueitems/coins.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Test Merge

#1848 Map_Rockhill: Added a few cooking supplies for bastion
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1849 Better spawns for goblins, naming for doors
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#1850 New mine improvement, old mine decrepitness, preparation for town revamp
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1844 [Port] Bunch of QoL, new stuff and fixes from Azure Peak
  code/__DEFINES/sound.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/game/objects/lighting/roguelighting.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/well.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/droning/droning.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  strings/accent_universal.json
Labels: Test Merge

#1853 New littlebanners and canopies from Azure Peak
  code/game/objects/structures/fluff.dm
  icons/obj/structures/decor.dmi
  icons/roguetown/misc/doors.dmi
Labels: Spriting

#1871 [Port] Bed roll, accessories for helmets, gambesons
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/cook/tools/pan.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/newclothes/dripobj.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/structure.dmi
Labels: Balance, Mapping, Spriting

#1870 Make Lich a Major Antag
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Test Merge

#1851 Cleanup 7
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/icons.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/traumas.dm
  code/datums/mind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/effects/decals/webs.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/stacks/cash.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/nukeop/clownop.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/emotes.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/visuals_icons.dm
  code/modules/mob/living/simple_animal/hostile/illusion.dm
  code/modules/mob/transform_procs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/spells/roguetown/spider.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/shapeshift.dm
  code/modules/spells/spell_types/touch_attacks.dm
  roguetown.dme
Labels: Mapping, Test Merge

#1838 Siege Onager & Multistage Building system
  code/__HELPERS/crafting.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/rogueitems/boulder.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/multistage/_multistage.dm
  code/game/objects/structures/multistage/siege/onager_unfinished.dm
  code/game/objects/structures/siege/onager.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac_wonders.dm
  code/modules/farming/crafting_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/artificer/artificer_table.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/gravedigger/gravemarker.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  icons/obj/structures/siege/onager/onager.dmi
  icons/obj/structures/siege/onager/onager_unfinished.dmi
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  roguetown.dme
  sound/catapult/adjusting.ogg
  sound/catapult/aim.ogg
  sound/catapult/aim2.ogg
  sound/catapult/cat_fire.ogg
  sound/catapult/crank.ogg
  sound/catapult/explosion_distant.ogg
  sound/catapult/explosion_distant2.ogg
  sound/catapult/explosion_distant3.ogg
  sound/catapult/explosion_distant4.ogg
  sound/catapult/incoming.ogg
  sound/catapult/incoming2.ogg
  sound/catapult/incoming3.ogg
  sound/catapult/launch.ogg
  sound/catapult/launch2.ogg
  sound/catapult/launch3.ogg
Labels: Spriting, Test Merge

#1878 Adds A Per-Slot Virginity Toggle
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmonk.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#1883 Aasimar and Tiefling Description Update + Stat Rebalance
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
Labels: Lore

#1895 Makes Architect Allowed Races Equivalent To Keep Mason
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
Labels: Balance

#1892 Slight Fisher polearm skill buff and knife nerf
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
Labels: Balance

#1893 Ravine unstuck
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1900 Swiper :)
  _maps/map_files/generic/CentCom.dmm
  code/modules/mob/living/simple_animal/rogue/game/swiper.dm
  icons/roguetown/mob/monster/swiper.dmi
  roguetown.dme
Labels: Mapping, Spriting

#1899 Gives necran templars graveyard keys
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1887 Remove Overlay Queuing
  code/__DEFINES/flags.dm
  code/__DEFINES/stat_tracking.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/icons.dm
  code/_compile_options.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/timer.dm
  code/game/objects/inhands_rogue.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences_descriptors.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/carbon/spirit/spirit_defense.dm
  code/modules/roguetown/roguestock/stockpile.dm
  code/modules/spells/roguetown/wizard.dm
  sound/misc/adminhelp.ogg
Labels: Test Merge

#1904 SCOM Calls
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/scomm.dm
  icons/roguetown/misc/machines.dmi
Labels: Spriting, Test Merge

#1909 Sea Jackets for Longshoremen
  code/modules/jobs/job_types/roguetown/yeomen/longshoreman.dm
Labels: Balance

#1908 Species Lore Additions
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
Labels: Lore

#1916 Smith house overhaul again. Updated to Harbour patch
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
Labels: Balance, Mapping

#1905 Archivist (Scholar) Overhaul
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/templates/sewers/sewers_top_1.dmm
  _maps/map_files/templates/sewers/sewers_top_2.dmm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/area/roguetownareas.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  icons/mob/actions/roguespells.dmi
  icons/turf/areas.dmi
  sound/music/area/academy.ogg
Labels: Balance, Mapping, Spriting, Test Merge

#1922 Noble guest rooms
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#1918 Adds rings to treasury bounty, increases default bounty payout, and adds satchel to steward
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/roguetown/roguestock/bounties.dm
Labels: Balance

#1930 Some fixes for guild smith house (I forgot)
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1931 Some keylocks and IDlocks fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1929 Town square update and scholar expansion
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance, Mapping

#1920 Copper Expansion Part 1: Rings
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/clothing/onmob/rings.dmi
  icons/roguetown/clothing/rings.dmi
Labels: Spriting, Test Merge

#1927 Henchmen Classes | Nightmaster Crossbow & Voice
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/mercenaries/merch_merc.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
Labels: Balance

#1942 Removes RNG from barbarian
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
Labels: Balance

#1944 Scholar cant do alchemy fix + bigger teaching range
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance, Mapping

#1947 Clerk Keys
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
Labels: Balance

#1955 Towner's smith house overhaul (replace)
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1924 Buffs Barkeep & Cook Jobs
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
Labels: Balance

#1957 Adding buyable shops
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/lighting/roguelighting.dm
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Mapping

#1938 Silver Cutlery WW+Vampire interaction
  code/game/objects/items/rogueitems/cup.dm
  modular/Neu_Food/code/NeuFood.dm
Labels: Test Merge

#1948 Fixes Elvish Weapons Not Having Silver Effects
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Test Merge

#1951 Smash Protection Proliferation
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
Labels: Test Merge

#1910 Leashes Part 1
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/leash.dm
  code/game/objects/items/rogueitems/util.dm
  code/modules/cargo/packsrogue/stuff.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/shoes.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/update_icons.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/roguetown/clothing/neck.dmi
  modular/icons/mob/collars_leashes.dmi
  modular/icons/obj/items/leashes_collars.dmi
  roguetown.dme
  sound/items/collarbell1.ogg
  sound/items/collarbell2.ogg
  sound/items/collarbell3.ogg
  sound/items/collarbell4.ogg
Labels: Balance, Mapping, Spriting, Test Merge

#1970 Various small map fixes, added towner smithy near town entrance
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Mapping

#1972 Some fixes and improvements for towner's smith house changes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1979 Ports New You as a hairstyle
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1975 Sneaking Buff
  code/modules/mob/living/stats.dm
  code/modules/mob/mob_movement.dm
Labels: Test Merge

#1965 Corpse neglect results in rot outbreaks.
  code/modules/mob/living/carbon/human/death.dm
Labels: Test Merge

#1989 QOL Addtions, Bugfixes, and Mild Balance Tweaks
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/rogueitems/leash.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/clothing/rogueclothes/leather/pants.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Balance, Mapping, Test Merge

#1987 Removes windows from the street smith shop
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1985 Fix for Court Physician Dungeon Surgery
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1993 Oh noble wizard
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#2005 Making sea harder, small fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2004 Inquisition Pass #1
  code/__HELPERS/roundend.dm
  code/datums/stress/negative_events.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#2012 Scom placemant fix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2010 Small shop changes with feedback
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2019 Map bug fixes, added fisher shack
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1995 Seelie Diversification
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/seelie.dm
Labels: Test Merge

#2030 Canopies - You Forgot To Wash Them In Six Years And Now They Stink And Are Grimdark(tm) Update
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/fluff.dm
  icons/obj/structures/decor.dmi
Labels: Mapping, Spriting

#2025 Refugee Nobility Respects Dark Elf Culture
  code/modules/jobs/job_types/roguetown/refugees/types/noble.dm
Labels: Balance

#2029 Craftable Goblin And Roundstart Thermometers
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/refugees/types/healer.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Balance

#2015 Give prospector refugee tongs
  code/modules/jobs/job_types/roguetown/refugees/types/scavenger.dm
Labels: Balance, Test Merge

#2037 PSYDON LIVES | Ecclesiast Changes
  code/modules/jobs/job_types/roguetown/refugees/types/ecclesiast.dm
Labels: Balance

#2039 Dreaded balance guy towner nerfing
  code/modules/jobs/job_types/roguetown/towners/types/fisher.dm
  code/modules/jobs/job_types/roguetown/towners/types/hunter.dm
  code/modules/jobs/job_types/roguetown/towners/types/miner.dm
  code/modules/jobs/job_types/roguetown/towners/types/seamster.dm
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/job_types/roguetown/towners/types/woodcutter.dm
Labels: Balance

#2040 Re-enter Corpse Verb
  code/modules/client/verbs/ghost.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Test Merge

#2021 Un-nerfs spears
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Test Merge

#1981 Adjusts Druid & Mortician Stats/Skills to Better Reflect Their Roles
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
Labels: Balance

#1010 Sprites By Kino
  icons/roguetown/topadd/kino1208/floors.dmi
  icons/roguetown/topadd/kino1208/items.dmi
  icons/roguetown/topadd/kino1208/lamppost.dmi
Labels: DO NOT MERGE, Spriting

#2035 Unisex ruling positions
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/zizocult.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/titan.dm
  roguetown.dme
Labels: Balance, Test Merge

#2046 [TM FIRST] Fix error icons
  code/__DEFINES/subsystems.dm
  code/modules/mob/dead/new_player/sprite_accessory/_sprite_accessory.dm
Labels: Test Merge

#2054 Occultist / Zizoid Mage Rebalance
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Balance

#2047 Nerve Master Withdrawing
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/roguetown/roguemachine/steward.dm
Labels: Test Merge

#2055 Gives male consort keys
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
Labels: Balance

#2056 Severely nerfs Fisherman Bandit
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
Labels: Test Merge

#2057 Door lock difficulty & lockpicking skill fix
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  modular/code/game/objects/pillory.dm
Labels: Mapping

#2078 Makes ecclesiast accessible to shunned races
  code/modules/jobs/job_types/roguetown/refugees/types/ecclesiast.dm
Labels: Balance

#2072 Yet another gooner PR
  code/datums/sexcon/sex_actions/force/force_milk_tits.dm
  code/datums/sexcon/sex_actions/force/force_suck_nipples.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_milk.dm
  code/datums/sexcon/sex_actions/oral/suck_nipples.dm
  code/datums/sexcon/sexcon.dm
  code/modules/client/customizer/customizers/organ/genitals.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_topic.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  code/modules/surgery/organs/organ_dna/_organ_dna.dm
  roguetown.dme
Labels: Test Merge

#2075 Fix text runtime error
  code/modules/emoji/emoji_parse.dm
Labels: Test Merge

#2074 Fix Axian accent & type refactor
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/yeomen/harbormaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/longshoreman.dm
  code/modules/mob/living/carbon/human/species_types/furry/axian.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/roguetown_species.dm
  roguetown.dme
  strings/axian_replacement.json
Labels: Balance, Test Merge

#2073 Returns Necromancy to Necromancers
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Balance, Test Merge

#2077 Mercenaries seeing refugees as fellow mercenaries fix
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance, Test Merge

#1984 Families
  code/__DEFINES/maps.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/rogue/family.dm
  code/controllers/subsystem/ticker.dm
  code/datums/sexcon/sexcon.dm
  code/game/objects/structures/fluff.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/bandits/bandit.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/refugees/refugee.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  icons/mob/rel.dmi
  roguetown.dme
  strings/family.json
Labels: Balance, Spriting, Test Merge
