Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-06, with the labels that each got.

#112 Displays pleasures on round end and re-instates Good Lover trait
  code/__DEFINES/traits.dm
  code/__HELPERS/roundend.dm
  code/datums/sexcon.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
Labels: Balance

#97 Reintroduce Veteran & Village Elder + Skill/Stat Adjustment
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#119 Devotion and Medical revision
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Balance

#130 Revert "Devotion and Medical revision"
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Balance

#134 Voice updates
  code/datums/emotes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
Labels: Balance

#106 Torso and Nudist back to pilgrims
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
Labels: Balance

#128 Sheriff comes back + Increased Garrison leaders PQ
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Balance, Mapping

#173 No Blackstone in README
  README.md
Labels: documentation

#156 Fixes and small additions on map v2
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#182 Upped character slots
  code/modules/client/preferences.dm
Labels: Balance

#181 Heartfelt & Witch Hunter subclasses: allow tolerated+ races
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
Labels: Balance

#159 [PORT] More stuff to craft
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#190 "allowed_patrons" code now tries to avoid switching faiths first
  code/modules/jobs/job_types/roguetown/roguetown.dm
Labels: Balance

#189 gives buffs to female fishers
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
Labels: Balance

#188 No Kobold nor Half orc wandering nobles
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
Labels: Balance

#169 Craftable, Colored Wizard Hats - Even MORE style!
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
Labels: Spriting

#228 Removes goblins from Bog Guard
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Balance

#210 More Slots, Slopfixes
  code/modules/antagonists/roguetown/roleobjs/prisoner.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance

#241 Hair update
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_facial_hair.dmi
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#235 Fixes PQ requirements for Magician's Apprentice
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance

#246 Increases Pilgrim roles to pick by 5
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance

#244 Customization updates
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/tail_features.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  icons/mob/sprite_accessory/ears/ears.dmi
Labels: Spriting

#247 Fixes Alchemy
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  roguetown.dme
Labels: Balance
