Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-11, with the labels that each got.

#1347 Templar Helmets Sprites + New Malum helmet
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Balance, Spriting

#1375 Now the announcements will use the proper titles
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Balance

#1325 Recruit positions fix reopen
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#1365 Physician can now be a graggarite, similar to town doctor
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
Labels: Balance

#1366 removes sexism from men at arms
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Balance

#1373 Female Barbarians!
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
Labels: Balance

#1368 Various Hehenly's suggested fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1376 Fix invisible noble dresses on dwarfs
  icons/roguetown/clothing/nobledresses/onmob/shirts.dmi
Labels: Spriting

#1372 Gives seelies repulse
  code/modules/jobs/job_types/roguetown/mercenaries/seelie.dm
Labels: Balance

#1364 Runelocks
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/runelock.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  icons/roguetown/weapons/32.dmi
  roguetown.dme
  sound/combat/Ranged/musketfire.ogg
  sound/foley/musketcock.ogg
  sound/foley/musketload.ogg
Labels: Balance, Spriting

#1205 Magic balance pass/spell list changes
  code/_onclick/drag_drop.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/mob/living/simple_animal/rogue/creacher/familiar.dm
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/roguetown/wizard.dm
  code/modules/spells/spell.dm
  icons/roguetown/mob/monster/vol.dmi
  roguetown.dme
Labels: Discussion needed., Spriting, Test Merge

#1387 Templar Visored Helmets & Refactor
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/hats/templar.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  roguetown.dme
Labels: Balance, Spriting

#1378 Seelie Balancing, Addition of Seelie Hand and Servant
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/seamster.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/seelie.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/spells/roguetown/seelie.dm
Labels: Balance

#1391 Mercenary Guild QoL
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/guild_clerk.dm
  roguetown.dme
Labels: Balance, Mapping

#1394 Update grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
Labels: Balance

#1397 Community Guidelines stuff
  CONTRIBUTING.md
  README.md
Labels: documentation

#1399 Changes how the title of the Lord is stored for announcements
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Balance

#1400 Guild Hall Corrections
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1406 Fix missing weapon sprites
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#1407 Remove unused var
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
Labels: Balance

#1405 Limits green lights to the keep, replaces the city ones with lantern posts
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/power/lanternpost.dm
  code/modules/power/roguelighting.dm
  icons/roguetown/misc/64x64.dmi
  icons/roguetown/misc/tallstructure.dmi
Labels: Mapping, Spriting

#1426 Fix map merge conflict
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1383 Recruitment spells icons
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  icons/mob/actions/roguespells.dmi
Labels: Balance, Spriting

#1291 Timed Gates
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/timed_blockers.dm
  roguetown.dme
Labels: Mapping, Test Merge

#1431 Removes Tolerant trait and heavily limits Steelhearted trait
  code/__DEFINES/traits.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/special_traits/traits/traits.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/pirate.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/clinic/clinicdoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
Labels: Balance

#1433 Removes the snake
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1432 Changes to pill tin code.
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
Labels: Mapping

#1434 Fixes Hatchet
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#1410 Hermes & Stockpile QoL changes
  _maps/map_files/rockhill/rockhill.dmm
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/roguetown/roguemachine/_withdraw_tab.dm
  code/modules/roguetown/roguemachine/mail.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/submission.dm
  code/modules/roguetown/roguemachine/withdraw.dm
  code/modules/roguetown/roguestock/_roguestock.dm
  code/modules/roguetown/roguestock/stockpile.dm
Labels: Mapping

#1435 Clinic Removal
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/clinic/clinicdoctor.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Balance, Mapping

#1438 Mercenary Guild Updates 2.0
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/guild_clerk.dm
Labels: Balance, Mapping

#1440 Keep tweaks and fix second try
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1429 Buffs templar power budget
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1446 Adjustments to Locks
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1451 Begone, Self Insert #61235
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  strings/books/medical.json
Labels: Balance

#1449 Alternative Latejoin location: The Carriage
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/underworld/underworld.dm
  icons/roguetown/underworld/enigma_carriage.dmi
Labels: Mapping, Spriting

#1455 Guildhall Adjustments 2.0
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1453 Key code refactor
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/special_traits/traits/traits.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueitems/locks.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificier.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/seamster.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/engineering.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/vendor.dm
  code/modules/vehicles/pimpin_ride.dm
  code/modules/vehicles/secway.dm
  code/modules/vehicles/vehicle_key.dm
  modular/code/game/objects/pillory.dm
  roguetown.dme
Labels: Balance, Mapping

#1456 Orange Lamps
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/power/roguelighting.dm
  icons/roguetown/misc/64x64.dmi
  icons/roguetown/misc/lighting.dmi
  icons/roguetown/misc/tallstructure.dmi
Labels: Mapping, Spriting

#1457 Remove old roguetown maps
  _maps/custom/roguetown2.dmm
  _maps/debug.dm
  _maps/debug.json
  _maps/map_files/backup2/roguetown.dmm
  _maps/map_files/debug/debug.dmm
  _maps/map_files/grimoria/roguetown.dmm
  _maps/map_files/grimoria/roguetown2.dmm
  _maps/map_files/oldtown/oldtown.dmm
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/otherz/bog.json
  _maps/map_files/otherz/old/otherz.dmm
  _maps/map_files/otherz/old/otherz.json
  _maps/map_files/otherz/rogueworld.dmm
  _maps/map_files/otherz/rogueworld.json
  _maps/map_files/otherz/smalldecap.dmm
  _maps/map_files/otherz/smalldecap.json
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/otherz/smallforest.json
  _maps/map_files/otherz/smallswamp.dmm
  _maps/map_files/otherz/smallswamp.json
  _maps/map_files/otherz/violence.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  _maps/map_files/roguetest/roguetest.dmm
  _maps/map_files/roguetown/old/roguetown.dmm
  _maps/map_files/roguetown/roguetown.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  _maps/map_files/roguewar/roguewar.dmm
  _maps/map_files/rogueworld/rogueworld.dmm
  _maps/oldtown.dm
  _maps/oldtown.json
  _maps/roguetest.dm
  _maps/roguetest.json
  _maps/roguetown.dm
  _maps/roguetown.json
  _maps/roguetown2.dm
  _maps/roguetown2.json
  _maps/roguewar.dm
  _maps/roguewar.json
  _maps/rogueworld.dm
  _maps/rogueworld.json
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/whiteship_box.dmm
Labels: Mapping

#1462 Lamp Post Layer Fix
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/power/roguelighting.dm
Labels: Mapping

#1463 Merc guild double table fix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1452 Moved soilery to a different place
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1416 Disables player deadites and removes rotmen. Fixes cure rot.
  code/__DEFINES/roguetown/deadite.dm
  code/__DEFINES/traits.dm
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/living_topic.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/brain.dm
Labels: Test Merge

#1436 Woodcutter & Artificer Expansion
  _maps/map_files/rockhill/rockhill.dmm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/objects.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/bombs.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificier.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/artificer/artificer_table.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/engineering.dm
  code/modules/roguetown/roguejobs/blacksmith/grindwheel.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/items/natural.dmi
  icons/roguetown/misc/tables.dmi
  icons/roguetown/weapons/tools.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting

#1475 Make both soilson and soilbride get keys
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
Labels: Balance

#1469 Mercenary Adjustments 2.whatever
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
Labels: Balance, Mapping

#1466 Small soilery fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1480 Court Physician's Garden Overhang
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1478 More soilery QoL stuff
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1389 [TM First] NPCs respect sneaking
  code/game/objects/effects/glowshroom.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
Labels: Test Merge

#966 In-Game Preferences
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/mob_movement.dm
Labels: Test Merge

#1498 Adds on_mob sprite for backpack
  icons/roguetown/clothing/onmob/back_l.dmi
Labels: Spriting

#1502 Formal shirts replacemant
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1473 Watchman Revamp
  README.md
  code/__DEFINES/jobs.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/clothing/rogueclothes/watchman/armor.dm
  code/modules/clothing/rogueclothes/watchman/cloaks.dm
  code/modules/clothing/rogueclothes/watchman/hats.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  icons/roguetown/clothing/licensed-infraredbaron/LICENSE.md
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/armor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/cloak.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/head.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/armor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/cloak.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/head.dmi
  roguetown.dme
Labels: documentation, Balance, Spriting, Test Merge

#1513 Fixes weird grass tiling.
  icons/turf/roguefloor.dmi
Labels: Spriting

#1511 Patches some 64x64 weapon sprites.
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#1509 Keep Bath, Sparring Room & Greenhouse
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1479 Artificer Expansion Pack: Contraptions
  code/_onclick/item_attack.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/rogueitems/cup.dm
  code/game/objects/items/rogueitems/flintsparker.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/feather.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/game/objects/objs.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguetown/handcart.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/objects/structures/walldeco.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/power/roguelighting.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/artificer/contraptions.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  code/modules/roguetown/roguejobs/engineering/items.dm
  code/modules/roguetown/roguejobs/engineering/prosthetics.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/tallstructure.dmi
  roguetown.dme
Labels: Spriting, Test Merge

#1517 Drying Rack Replacement - Keep Stone to Wood
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1523 Fixes some Leatherworking PR Loose ends
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  icons/roguetown/items/natural.dmi
Labels: Mapping, Spriting

#1520 Port - Hairstyles and Makeup from Azure
  code/datums/keybinding/mob.dm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  icons/mob/body_markings/other_markings.dmi
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1519 Artificer Expansion: Lock Imprinter
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  code/game/machinery/dna_scanner.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/gulag_teleporter.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/roulette_machine.dm
  code/game/machinery/scan_gate.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/items/pet_carrier.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueitems/locks.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/morgue.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/cargo/expressconsole.dm
  code/modules/economy/pay_stand.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/research/nanites/nanite_chamber.dm
  code/modules/research/nanites/nanite_remote.dm
  code/modules/research/nanites/public_chamber.dm
  code/modules/research/rdconsole.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/artificer/artificer_table.dm
  code/modules/roguetown/roguejobs/artificer/contraptions.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/roguetown/roguemachine/seedmachine.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/vendor.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/shuttle/spaceship_navigation_beacon.dm
  code/modules/surgery/organs/eyes.dm
  icons/obj/surgery.dmi
  icons/roguetown/items/misc.dmi
  modular/code/game/objects/pillory.dm
Labels: Mapping, Spriting

#1522 Updates the Volf Helm to actually be medium armor, adds the vreccale
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/forlorn.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Balance, Spriting

#1528 Gives the butcher a key ring.
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
Labels: Balance

#1493 The Vanguard: Bog gate & Map rework
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/colors.dm
  code/__DEFINES/roguetown.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguestock/import.dm
Labels: Balance, Mapping, Test Merge

#1505 Remove all but one Purity machines, located in a crackden. Dramatically increases drug prices.
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguemachine/drugmachine.dm
  modular/Smoker/code/Smoker.dm
Labels: Mapping, Test Merge

#1527 Removes artificer keys from woodcutters
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
Labels: Balance

#1532 bastion hotfix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#1538 Bog house fix, key work for bogguards and innkeep
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#1537 Adds bullet pouches and refactored Quiver code.
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/datums/special_traits/traits/traits.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dwarfranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguestock/import.dm
  icons/roguetown/weapons/ammo.dmi
Labels: Balance, Mapping, Spriting

#1546 Prisoner Hermes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1542 Public Workshop
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1548 Allowed Rogue patron changes
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
Labels: Balance

#1555 Merchant key heat death
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1554 Citywatch Pass 2.0
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Mapping

#1556 Revert "Prisoner Hermes (#1546)"
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1350 Bum Fights
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/templates/sewers/sewers_bottom_1.dmm
  _maps/map_files/templates/sewers/sewers_bottom_2.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_1.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_2.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_3.dmm
  _maps/map_files/templates/sewers/sewers_centre_1.dmm
  _maps/map_files/templates/sewers/sewers_centre_2.dmm
  _maps/map_files/templates/sewers/sewers_right_1.dmm
  _maps/map_files/templates/sewers/sewers_right_2.dmm
  _maps/map_files/templates/sewers/sewers_top_1.dmm
  _maps/map_files/templates/sewers/sewers_top_2.dmm
  _maps/map_files/templates/sewers/sewers_topleft_1.dmm
  _maps/map_files/templates/sewers/sewers_topleft_2.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/map_files/templates/sewers/sewers_topleft_4.dmm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/mob/living/carbon/human/npc/bum.dm
Labels: Balance, Mapping, Test Merge

#1539 Objects in walls fix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1565 Adds Additional Floof
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1563 Grenzel Merc PQ Changes
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
Labels: Balance

#1568 Leg Sprite Fixes & Halfkin Colourable Sacks & Twistable Groin
  code/__DEFINES/misc.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  icons/mob/body_markings/sock_markings.dmi
Labels: Spriting

#1571 Removes Stubble From Male Sprites
  icons/roguetown/mob/bodies/m/md.dmi
  icons/roguetown/mob/bodies/m/mds.dmi
  icons/roguetown/mob/bodies/m/mem.dmi
  icons/roguetown/mob/bodies/m/mems.dmi
  icons/roguetown/mob/bodies/m/met.dmi
  icons/roguetown/mob/bodies/m/mets.dmi
  icons/roguetown/mob/bodies/m/mm.dmi
  icons/roguetown/mob/bodies/m/mo.dmi
  icons/roguetown/mob/bodies/m/mos.dmi
  icons/roguetown/mob/bodies/m/ms.dmi
  icons/roguetown/mob/bodies/m/mt.dmi
  icons/roguetown/mob/bodies/m/mts.dmi
Labels: Spriting

#1534 Slight AI buff
  code/controllers/subsystem/rogue/humannpc.dm
Labels: Test Merge

#1575 Kybraxor is no longer on strike.
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1582 Adds 3 Big Ear Options
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  icons/mob/sprite_accessory/ears/ears_big.dmi
Labels: Spriting

#1581 Map - Rockhill: Lamp replacement, well addition to the inn, LA pass on old house near soilers
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Mapping

#1598 Gives guild clerks cooking and slight medicine skill
  code/modules/jobs/job_types/roguetown/mercenaries/types/guild_clerk.dm
Labels: Balance

#1596 Artificer Peddler (+1 fix and 1 QOL)
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1602 Re-Enables Seelie Jester
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
Labels: Balance

#1533 Global spawn protection
  code/controllers/subsystem/migrants.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance, Test Merge

#1561 Remove bandit on-examine
  code/modules/mob/living/carbon/human/examine.dm
Labels: Test Merge

#1553 Keep Clothing Revamp
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/chaosmode.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/temp/citywatch.dm
  code/modules/clothing/rogueclothes/temp/councillor.dm
  code/modules/clothing/rogueclothes/temp/duchess.dm
  code/modules/clothing/rogueclothes/temp/duke.dm
  code/modules/clothing/rogueclothes/temp/hand.dm
  code/modules/clothing/rogueclothes/temp/heir.dm
  code/modules/clothing/rogueclothes/temp/heiress.dm
  code/modules/clothing/rogueclothes/temp/magos.dm
  code/modules/clothing/rogueclothes/temp/steward.dm
  code/modules/clothing/rogueclothes/watchman/armor.dm
  code/modules/clothing/rogueclothes/watchman/cloaks.dm
  code/modules/clothing/rogueclothes/watchman/hats.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/jobs.dm
  code/modules/shuttle/supply.dm
  icons/roguetown/clothing/licensed-infraredbaron/citywatch.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/armor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/cloak.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/head.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/armor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/cloak.dmi
  icons/roguetown/clothing/licensed-infraredbaron/citywatch/onmob/head.dmi
  icons/roguetown/clothing/licensed-infraredbaron/councillor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/duchess.dmi
  icons/roguetown/clothing/licensed-infraredbaron/duke.dmi
  icons/roguetown/clothing/licensed-infraredbaron/hand.dmi
  icons/roguetown/clothing/licensed-infraredbaron/heir.dmi
  icons/roguetown/clothing/licensed-infraredbaron/heiress.dmi
  icons/roguetown/clothing/licensed-infraredbaron/magos.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/citywatch.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/councillor.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/duchess.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/duke.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/hand.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/heir.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/heiress.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/magos.dmi
  icons/roguetown/clothing/licensed-infraredbaron/onmob/steward.dmi
  icons/roguetown/clothing/licensed-infraredbaron/steward.dmi
  roguetown.dme
  strings/middlespeak.json
Labels: Balance, Spriting, Test Merge

#1601 Adds a new tail and 2 new body markings, adds a tail back to lupian, tweaked vulpkian stats
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  icons/mob/body_markings/chest_markings.dmi
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#1603 Mimic & Poltergeist
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/events/rogue/poltergeist.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mimic.dm
  code/modules/mob/living/simple_animal/rogue/creacher/poltergeist.dm
  icons/roguetown/mob/monster/mimic.dmi
  icons/roguetown/mob/monster/poltergeist.dmi
  roguetown.dme
  sound/vo/mobs/mimic/mimic_attack1.ogg
  sound/vo/mobs/mimic/mimic_attack2.ogg
  sound/vo/mobs/mimic/mimic_attack3.ogg
  sound/vo/mobs/mimic/mimic_death.ogg
  sound/vo/mobs/poltergeist/polter_damage0.ogg
  sound/vo/mobs/poltergeist/polter_damage1.ogg
  sound/vo/mobs/poltergeist/polter_damage2.ogg
  sound/vo/mobs/poltergeist/polter_idle.ogg
Labels: Mapping, Spriting

#1510 Stun Mace Return
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
Labels: Balance, Test Merge

#1608 racist forlonrs
  code/modules/jobs/job_types/roguetown/mercenaries/types/forlorn.dm
Labels: Balance

#1613 Gives malum templars warhammers.
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1615 Rogue nerf
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
Labels: Balance

#1618 Rogue nerf Part 2
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Balance

#1604 Roundend mugshot credits
  code/__HELPERS/_lists.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/lists/icons.dm
  code/_onclick/hud/credits.dm
  code/datums/mind.dm
  code/game/objects/items.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  roguetown.dme
Labels: Balance, Test Merge

#1609 Move latespawns to the carriage
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#1619 New leather armor sprites + Refactor
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/leather/armor.dm
  code/modules/clothing/rogueclothes/leather/gloves.dm
  code/modules/clothing/rogueclothes/leather/pants.dm
  code/modules/clothing/rogueclothes/leather/shoes.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shoes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/dwarfwarrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/desertrider.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/mob/living/carbon/human/npc/bum.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting

#1599 Map-Rockhill - Church revamp
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#1606 Bandits at it again - Hordemaster moved in
  _maps/map_files/generic/CentCom.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/cargo/packsrogue/brigand.dm
  code/modules/cargo/packsrogue/foresworn.dm
  code/modules/cargo/packsrogue/hedgeknight.dm
  code/modules/cargo/packsrogue/knave.dm
  code/modules/cargo/packsrogue/mage.dm
  code/modules/cargo/packsrogue/sawbones.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  icons/roguetown/misc/96x96.dmi
  roguetown.dme
  sound/misc/hoardmasterpurchase.ogg
Labels: Mapping, Spriting, Test Merge

#1580 The hidden path
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1166 Goblin Rework(Ish)
  GobboFort.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/mapping.dm
  code/game/area/roguetownareas.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/traveltile.dm
  code/modules/clothing/rogueclothes/npc/goblin.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/seamster.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  roguetown.dme
Labels: Discussion needed., Balance, Mapping, Test Merge

#1623 Goblins removed from everything. Woe be upon ye.
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
Labels: Balance

#1626 Church QoL + Small library room change to Common room
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1625 Hordemaster misc item
  _maps/map_files/generic/CentCom.dmm
  code/modules/cargo/packsrogue/brigand.dm
  code/modules/cargo/packsrogue/foresworn.dm
  code/modules/cargo/packsrogue/hedgeknight.dm
  code/modules/cargo/packsrogue/knave.dm
  code/modules/cargo/packsrogue/mage.dm
  code/modules/cargo/packsrogue/sawbones.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
Labels: Mapping

#1620 Gunpowder guns by GISELA
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/skills/combat.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/ammo.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/arquebus.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/handgonne.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/items.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/pistol.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/runelock.dm
  code/game/objects/items/rogueweapons/ranged/slings.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/surgery/organs/eyes.dm
  icons/obj/items/arquebus_items.dmi
  icons/roguetown/weapons/arquebus.dmi
  icons/roguetown/weapons/handgonne.dmi
  roguetown.dme
  sound/arquebus/arquefire.ogg
  sound/arquebus/arquefire2.ogg
  sound/arquebus/arquefire3.ogg
  sound/arquebus/arquefire4.ogg
  sound/arquebus/arquefire5.ogg
  sound/arquebus/fuse.ogg
  sound/arquebus/insert.ogg
  sound/arquebus/pour_powder.ogg
  sound/arquebus/ramrod.ogg
Labels: Balance, Mapping, Spriting, Test Merge

#1646 Nerfs clerics
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#1647 Sawbones can wade in shit now
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
Labels: Balance

#1640 Allows druid to use beasttongue
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance, Test Merge

#1638 Zizoid Beast Invulnerability | End Message Touchup
  code/datums/gods/patrons/curses.dm
  code/modules/antagonists/roguetown/villain/zizocult.dm
  code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
Labels: Test Merge

#1639 Druid Buff | Scomm Ring Icon
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Balance, Test Merge

#1617 Merge woodcutter and carpenter into one
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
Labels: Discussion needed., Balance

#1636 The Three Musketeers
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/datums/migrants/migrant_waves/musketeer wave.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  roguetown.dme
Labels: Discussion needed., Balance, Test Merge

#1634 Optimise gravity, Z-level traits, and sounds
  _maps/rockhill.json
  code/__DEFINES/mapping.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/multiz.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms.dm
  code/game/objects/structures/ladders.dm
  code/game/sound.dm
  code/game/turfs/closed/transparent.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/transparent.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/multiz.dm
  code/modules/mapping/ruins.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/power/multiz.dm
  code/modules/recycling/disposal/multiz.dm
  roguetown.dme
Labels: Mapping, Test Merge

#1627 Limb sanity check
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Test Merge

#1642 No Combat Dragging On Passive Grab
  code/modules/mob/mob_movement.dm
Labels: Test Merge

#1652 Some hordemaster cleanup
  code/modules/cargo/packsrogue/foresworn.dm
  code/modules/cargo/packsrogue/knave.dm
  code/modules/cargo/packsrogue/stuff.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  roguetown.dme
Labels: Test Merge

#1656 Excidium & Guild clerk rework
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/mercenaries/guild_clerk.dm
  code/modules/roguetown/roguemachine/bounty.dm
  roguetown.dme
Labels: Balance, Mapping

#1658 Verbal Spellcasters!
  code/modules/spells/roguetown/wizard.dm
Labels: Test Merge

#1659 Excidium rework V1.5
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/bounty.dm
  icons/roguetown/misc/machinesbig.dmi
Labels: Mapping, Spriting, Test Merge

#1668 Map-Rockhill: QoL fixes on church
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1662 Tabaxi language
  code/__DEFINES/say.dm
  code/modules/client/asset_cache.dm
  code/modules/language/roguetown/felid.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/surgery/organs/tongue.dm
  interface/fonts/languages/felid.ttf
  interface/stylesheet.dm
  roguetown.dme
Labels: Test Merge

#1664 Keep That Thang Loaded
  code/datums/special_traits/traits/traits.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance

#1661 Bandit Hoardmaster Balancing+ no more skeleton steel.
  code/modules/cargo/packsrogue/brigand.dm
  code/modules/cargo/packsrogue/foresworn.dm
  code/modules/cargo/packsrogue/hedgeknight.dm
  code/modules/cargo/packsrogue/knave.dm
  code/modules/cargo/packsrogue/mage.dm
  code/modules/cargo/packsrogue/sawbones.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
Labels: Test Merge

#1663 Remove the underdark
  _maps/map_files/rockhill/rockhill.dmm
  code/game/area/roguetownareas.dm
Labels: Mapping, Test Merge

#1667 Goblin Touchups | Goblin Shaman
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/jobs.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/traveltile.dm
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  roguetown.dme
Labels: Balance, Mapping, Test Merge

#1670 Mageprentice Verminfolk/Kobolds + Brings Verminfok In-line with Wildkin Customization
  code/__DEFINES/roguetown.dm
  code/modules/client/customizer/customizers/organ/snout.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance, Test Merge

#1679 Fixed magemote again (as well as like 20 lighting dependencies)
  code/modules/mining/lavaland/necropolis_chests.dm
  roguetown.dme
Labels: Test Merge

#1690 Add missing sugar sprite
  icons/roguetown/items/produce.dmi
Labels: Spriting

#1686 Goblin Camp Exits
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#1704 Gives firearm skills to experienced guards + Gives watchman skills to sheriff
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
Labels: Balance

#1709 Update sugar sprite
  icons/roguetown/items/produce.dmi
Labels: Spriting

#1711 Added spawns for Gravediggers and also for puritans and orphans just in case
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#1707 Mages can no longer cast spells when surrendering
  code/datums/status_effects/rogue/debuff.dm
  roguetown.dme
Labels: Test Merge

#1708 Moondae Mourning
  code/__HELPERS/time.dm
  code/controllers/subsystem/ticker.dm
  code/modules/mob/mob.dm
Labels: Test Merge

#1681 Add blindfold to the game
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
Labels: Spriting, Test Merge

#1714 Tome of Justice Rework
  code/game/objects/items/rogueitems/books.dm
  strings/books/law.json
Labels: Test Merge

#1717 Touch Fluffy Tail
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#1720 Goblin Matriarchy
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
Labels: Balance

#1724 SPEED MERGE FUCK!!!!!!!!
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
Labels: Balance

#1705 Assassination and Coup de Grace
  code/__DEFINES/combat.dm
  code/_globalvars/lists/wounds.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Test Merge

#1713 Spellsowrd merc update! And slight balance tweaks
  code/__DEFINES/is_helpers.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting, Test Merge

#1726 Fish cooked fix not showing up in platters
  icons/roguetown/misc/fish.dmi
  modular/Neu_Food/icons/food.dmi
Labels: Spriting

#1718 Adds identity to desert riders, makes grenzels consistant
  code/modules/jobs/job_types/roguetown/mercenaries/types/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
Labels: Balance

#1732 Migrants and Mercenaries
  code/datums/migrants/migrant_job.dm
  code/datums/migrants/migrant_role.dm
  code/datums/migrants/migrant_waves/fablefield roles.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance, Test Merge
