Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2024-07, with the labels that each got.

#283 Roundstart people who had their Patron changed will know about it
  code/modules/jobs/job_types/roguetown/roguetown.dm
Labels: Balance

#288 Reverts smelting (tiered forged items)
  code/__DEFINES/skills.dm
  code/datums/armor.dm
  code/datums/skills/craft.dm
  code/modules/farming/bin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
Labels: Balance

#289 Reverts fishing minigame
  code/modules/cargo/packsrogue/tools.dm
  code/modules/farming/trash.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/roguetown/roguecrafting/fishing.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/cook/ingredients/misc.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/fishinggame.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguejobs/fisher/tackle.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  icons/roguetown/hud/fishingmeme.dmi
  icons/roguetown/items/fishing.dmi
  roguetown.dme
Labels: Balance, Spriting

#271 [RESPRITE] Reskins "Love Potion"
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  icons/roguetown/items/cooking.dmi
Labels: Spriting

#258 Soilson stats update
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
Labels: Balance

#229 Update Goblin King
  code/modules/jobs/job_types/roguetown/goblin/goblinking.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance

#214 Farming Update
  code/modules/farming/composter.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/seeds.dm
  code/modules/farming/soil.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  icons/obj/structures/soil.dmi
  icons/roguetown/misc/crops.dmi
Labels: Spriting

#294 Fixes Magicians Apprentice job joining
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#311 Fixes female arm sprites
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  icons/mob/body_markings/plain_markings.dmi
  icons/mob/body_markings/sock_markings.dmi
  icons/mob/body_markings/spotted_markings.dmi
  icons/mob/body_markings/tiger_markings.dmi
  icons/mob/body_markings/tips_markings.dmi
  icons/mob/species/female.dmi
Labels: Spriting

#316 Grenzelhoft's new look and changes
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/mercenaries/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/stonekeep_merc.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/shirts.dmi
  tgui/src/images/nanotrasen.svg
  tgui/src/images/syndicate.svg
Labels: Balance, Spriting

#187 House staff reorganization
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#259 [Testmerge] Combines some map updates
  _maps/map_files/rockhill/rockhill.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/keys.dm
  icons/roguetown/misc/structure.dmi
  icons/roguetown/misc/tables.dmi
Labels: Mapping, Spriting

#338 Whip punish intent
  code/game/objects/items/rogueweapons/melee/flail.dm
  icons/mob/roguehud.dmi
Labels: Spriting

#343 fem merchant now get keys
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Balance

#344 Good Precedent To Set
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Balance

#339 Random spawn points for vamp manor and bandit camps
  _maps/map_files/rockhill/rockhill.dmm
  code/controllers/subsystem/mapping.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/traveltile.dm
Labels: Mapping

#385 Torso is an actual challenge
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
Labels: Balance

#352 The Great Migration
  code/__DEFINES/jobs.dm
  code/__DEFINES/migrants.dm
  code/__DEFINES/roguetown.dm
  code/_globalvars/migrants.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_menu/drifter_queue_menu.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_menu/drifter_queue_menu_build.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_queue.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_queue_helpers.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_queue_scheduling.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_waves/_drifter_wave.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_waves/bandit_wave.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_waves/drifter_wave.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/controllers/subsystem/ticker.dm
  code/datums/migrants/migrant_assignment.dm
  code/datums/migrants/migrant_job.dm
  code/datums/migrants/migrant_pref.dm
  code/datums/migrants/migrant_role.dm
  code/datums/migrants/migrant_wave.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/migrants/migrant_waves/heartfelt wave.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/DRIFTERZ.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  html/browser/slop_menustyle4.css
  roguetown.dme
Labels: Balance

#419 [SPRITE] Brings some Heraldry from Roguetown to Ratwood
  icons/roguetown/weapons/shield_heraldry.dmi
  icons/roguetown/weapons/wood_heraldry.dmi
Labels: Spriting

#434 [SPRITE] Fixes Issue #433
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
Labels: Spriting

#424 Makes town doctors good actually but also makes them woman too????
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
Labels: Balance

#441 Sheriff is no longer a noble
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
Labels: Balance

#451 FLOUR is FLOUR and SALT is SALT.
  _maps/custom/roguetown2.dmm
  _maps/map_files/backup2/roguetown.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/grimoria/roguetown.dmm
  _maps/map_files/grimoria/roguetown2.dmm
  _maps/map_files/oldtown/oldtown.dmm
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetown/old/roguetown.dmm
  _maps/map_files/roguetown/roguetown.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/turfs/closed/minerals.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguejobs/cook/recipes/breads.dm
  code/modules/roguetown/roguejobs/cook/recipes/meat.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  code/modules/roguetown/roguestock/stockpile.dm
Labels: Balance, Mapping

#399 lets all races and ages be amazons since it is just female barbarian
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
Labels: Balance

#605 Moves 2 MAA slots to Watchman
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
Labels: Balance

#604 Female Inquisitor
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#587 [SPRITE] Fixes Shepherd Mask/Half Mask not having an icon
  icons/roguetown/clothing/masks.dmi
Labels: Spriting

#595 Sheathes and genital descriptors
  code/__DEFINES/DNA.dm
  code/__DEFINES/customization/mob_descriptors.dm
  code/__DEFINES/sexcon_defines.dm
  code/datums/mob_descriptors/descriptors/other.dm
  code/datums/sexcon/sex_actions/oral/blowjob.dm
  code/datums/sexcon/sexcon.dm
  code/datums/sexcon/sexcon_helpers.dm
  code/modules/client/customizer/customizers/organ/genitals.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/mob/dead/new_player/sprite_accessory/_sprite_accessory.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  icons/mob/sprite_accessory/genitals/penis.dmi
Labels: Spriting

#584 King & Priest Announcement Cooldown
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Balance

#545 Removes some toy spawners
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/modules/holiday/easter.dm
Labels: Mapping

#417 Keys overhaul & Map changes
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/roguetown/roguestock/import.dm
  modular/code/game/objects/pillory.dm
  modular/icons/obj/pillory.dmi
  roguetown.dme
Labels: documentation, Balance, Mapping, Spriting

#641 Un-powercreep smith
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
Labels: Balance
