Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-05, with the labels that each got.

#2784 Fixing proc params for equipped
  code/modules/clothing/rogueclothes/mask/mask.dm
Labels: Bug Fix

#2748 Makes Druid's Tame and Seelie's Tame Awaken Animals (Re-Opening)
  code/__DEFINES/magic/spells.dm
  code/_globalvars/lists/poll_ignore.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/mind.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  code/modules/spells/roguetown/seelie.dm
Labels: Balance

#2707 Bandit Balance and tweaks
  code/__DEFINES/traits.dm
  code/game/objects/structures/walldeco.dm
  code/modules/jobs/job_types/roguetown/bandits/bandit.dm
  code/modules/jobs/job_types/roguetown/bandits/types/brigand.dm
  code/modules/jobs/job_types/roguetown/bandits/types/foresworn.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/knave.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/bandits/types/sawbones.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance, Test Merge

#2612 Bag of dice now proper storage + small whitevein adjustment
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/dice.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/jobs/job_types/roguetown/refugees/types/vagabond.dm
Labels: Balance, Mapping, no-stale

#2765 Clean up impact grenade code
  code/game/objects/items/rogueitems/bombs.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
Labels: Test Merge

#2793 updates carp, clownfish, eel, and angler sprites
  icons/roguetown/misc/fish.dmi
Labels: Spriting

#2792 Clean up collar and bell code
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/leash.dm
  code/modules/clothing/clothing.dm
Labels: Test Merge

#2781 Adds a new ears and snout sprite!
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/snout.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/snouts.dm
  icons/mob/sprite_accessory/ears/ears.dmi
  icons/mob/sprite_accessory/snouts/snouts.dmi
Labels: Spriting, Test Merge

#2797 Lock the kitchen doors to a kitchen-specific key
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping, Test Merge

#2746 Wenchmaxxing - Whitevein Role Buffs
  code/__DEFINES/roguetown.dm
  code/datums/sexcon/sex_actions/force/force_blowjob.dm
  code/datums/sexcon/sex_actions/oral/blowjob.dm
  code/datums/sexcon/sex_actions/oral/cunnilingus.dm
  code/datums/sexcon/sex_actions/sex/anal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/throat_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_ride_sex.dm
  code/datums/sexcon/sexcon.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/clothing/rogueclothes/shirts/shirts.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/jobs.dm
Labels: Balance, Test Merge, stale, Feature/Content

#2761 Adds spike pit to game, recipe for making
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
  icons/turf/roguefloor.dmi
Labels: Spriting, Test Merge, stale, Feature/Content

#2773 Fix barefoot footstep sounds
  code/datums/components/footstep.dm
Labels: Test Merge, stale, Bug Fix

#2775 Fix exploit in lottery machine
  code/modules/roguetown/roguemachine/lottery.dm
Labels: Test Merge, Bug Fix

#2770 Allows Create Item interface to search by item name, as well as type
  code/modules/admin/create_object.dm
  html/create_object.html
Labels: Test Merge, stale, Feature/Content

#2771 Ports Azure's text formatting.
  code/__HELPERS/text.dm
  code/game/say.dm
  code/modules/mob/say.dm
Labels: Test Merge, stale, Feature/Content

#2788 Title friendly marriage
  code/game/objects/structures/fluff.dm
Labels: Test Merge, Bug Fix

#2791 Fix various grab-related bugs
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/game/atoms_movable.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/reagents/reagent_containers/powderspice.dm
Labels: Test Merge, Bug Fix

#2807 Fix rivers moving too quickly
  code/game/turfs/open/water.dm
Labels: Bug Fix

#2811 Gives 2 dagger knaves lockpicks
  code/modules/jobs/job_types/roguetown/bandits/types/knave.dm
Labels: Balance

#2818 Improve zombie code
  code/__DEFINES/traits.dm
  code/_onclick/other_mobs.dm
  code/datums/mind.dm
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Bug Fix

#2816 Fix humantype NPCs not respecting hugbox spawn protection
  code/modules/mob/living/carbon/human/npc/_npc.dm
Labels: Bug Fix

#2808 Clean up stair code
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/traveltile.dm
Labels: Test Merge, Feature/Content

#2837 Fix CI not downloading BYOND
  .github/workflows/ci_suite.yml
  tools/appveyor/build.ps1
  tools/appveyor/download_byond.sh
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
  tools/travis/build_bsql.sh
  tools/travis/build_tgui.sh
  tools/travis/check_changelogs.sh
  tools/travis/check_filedirs.sh
  tools/travis/check_grep.sh
  tools/travis/dm.sh
  tools/travis/install_build_tools.sh
  tools/travis/install_byond.sh
  tools/travis/install_libmariadb.sh
  tools/travis/install_rust_g.sh
  tools/travis/install_spaceman_dmm.sh
  tools/travis/run_server.sh
  tools/travis/template_dm_generator.py
  tools/travis/travis_config.txt
Labels: Documentation

#2838 fixes silk glove on mob sprites
  code/modules/clothing/rogueclothes/gloves/gloves.dm
Labels: Bug Fix

#2785 Fixes division by zero runtime in lockpicking
  code/datums/elements/lockpicking.dm
  code/game/objects/structures/mineral_doors.dm
Labels: Test Merge, stale, Bug Fix

#2830 removes prob roll to make jesters white
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
Labels: Balance

#2800 More permissive stale bot
  .github/workflows/stale.yml
Labels: Documentation

#2845 Fix for deadite infection causing uncontrollable biting
  code/modules/antagonists/roguetown/villain/zomble.dm
Labels: Bug Fix

#2843 Returns old court magos +1 to arcane magic
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
Labels: Balance

#2813 Make embeds more punishing to resist out of
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living.dm
Labels: Balance, Test Merge, Feature/Content

#2803 Various Simplemob Healing Fixes
  code/_onclick/other_mobs.dm
  code/datums/ai/idle_behaviors/random_walk.dm
  code/datums/ai/subtrees/eat_body.dm
  code/datums/ai/subtrees/find_food.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/rogue/rogueanimals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/seelie.dm
Labels: Test Merge, Bug Fix, Feature/Content

#2779 Datumizes stew code.
  code/__DEFINES/atmospherics.dm
  code/datums/components/storage/pot.dm
  code/game/objects/lighting/roguelighting.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  modular/Neu_Food/code/NeuFood.dm
  roguetown.dme
Labels: Test Merge

#2783 third time azure rituals port
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/hospitaller.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/rituals/ritual_types/divine/ritualcircles.dm
  code/modules/rituals/ritual_types/divine/ritualfeather.dm
  icons/roguetown/misc/rituals.dmi
  roguetown.dme
  sound/misc/peacefulwake.ogg
Labels: Balance, Spriting, Test Merge

#2827 Adds being blind as a starting flaw.
  code/datums/character_flaw/_character_flaw.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Test Merge

#2853 Fix for bandit liches
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Bug Fix

#2834 Adds Realm-Colored Banner Flags
  code/game/objects/structures/walldeco.dm
  icons/roguetown/misc/decoration.dmi
Labels: Spriting

#2804 Graggarites can drink now small portions of blood to quench thirst.
  code/modules/mob/living/grabbing.dm
Labels: Test Merge

#2852 random character updates voice type
  code/modules/mob/dead/new_player/preferences_setup.dm
Labels: Bug Fix

#2844 Great mana potion buff does not depend on sleepiness
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
Labels: Balance

#2851 Scholar Patron Edit
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#2870 Fixed move speed not correctly updating
  code/modules/mob/living/stats.dm
Labels: Bug Fix

#2866 Adds additional peddler input validation
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Bug Fix

#2867 [Experimental] Initial support for non-despawning summonable mobs
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/elemental.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/fae.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/infernal.dm
Labels: Test Merge

#2865 keep adjustments
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2876 Removes the game forcing your skin tone if you choose Grenzelhoft mercs
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_jager.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
Labels: Balance

#2826 Rewrite roguetownprocs.dm to fix issues and improve code quality.
  code/game/objects/lighting/roguelighting.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/mob/mob_movement.dm
Labels: Test Merge

#2846 Map maintenance
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2656 Allows leaving via carriage and more...
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/underworld/underworld.dm
  icons/roguetown/misc/doors.dmi
Labels: Balance, Spriting, Test Merge, no-stale

#2772 Buffed Acolyte, Hospitaller, Druid, & Priest starting stats and skills
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/hospitaller.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance, Test Merge

#2872 Skeletons can tell if somebody is a zizoid
  code/modules/spells/roguetown/necromancer.dm
Labels: Test Merge

#2873 Allows humans to vomit via emotes
  code/modules/mob/living/emote.dm
Labels: Test Merge

#2856 Don't attempt to show hover over text for qdel'd turf/mob/atoms
  code/_onclick/hud/mouseover.dm
Labels: Bug Fix

#2860 brings up fishing cage catch time a bit
  code/game/objects/items/rogueitems/fishing_cage.dm
Labels: Balance

#2871 Lava mines, bog merchant, fishing hot water spot, church vertical gates.
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/roguetown/gate.dm
  code/game/objects/structures/roguetown/gate_vertical.dm
  code/game/turfs/open/water.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguemachine/merchant_bog.dm
  icons/roguetown/misc/verticalgate.dmi
  roguetown.dme
Labels: Mapping, Spriting, Test Merge

#2859 Removes old skirt sprite
  icons/roguetown/clothing/onmob/pants.dmi
Labels: Spriting

#2729 Damage Threshold on limbs before Crit
  code/datums/wounds/types/punctures.dm
  code/datums/wounds/types/slashes.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Test Merge, no-stale

#2898 Hospitaller ritualist trait & Brother/Sister title
  code/modules/jobs/job_types/roguetown/church/hospitaller.dm
Labels: Balance

#2906 Undead swift intent fix
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Bug Fix

#2658 [bounty] Pillory bounty redemption
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  code/modules/roguetown/roguemachine/bounty.dm
  modular/code/game/objects/pillory.dm
  modular/icons/obj/pillory.dmi
Labels: Mapping, Test Merge, no-stale

#2755 Food interaction restructure with datum recipes
  code/__DEFINES/food.dm
  code/__HELPERS/unsorted.dm
  code/datums/NeuFood_recipes.dm
  code/datums/food_handle_recipes.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/cooked/NeuFood_meals.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular/Neu_Food/code/raw/NeuFood_veggies.dm
  modular/Neu_Food/icons/food.dmi
  roguetown.dme
Labels: Test Merge

#2799 Buffs Various Goblin Roles and Adds/Fixes FemGob Voices
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/voicepacks/female/goblinf.dm
  roguetown.dme
  sound/vo/female/gob/laugh (1).ogg
  sound/vo/female/gob/laugh (2).ogg
  sound/vo/female/gob/laugh (3).ogg
Labels: Balance, Test Merge

#2812 Fix elf sabre runtime when attacking NPCs
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Bug Fix

#2841 Fixed (most cases of) unintended stat changes on resurrection
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/stats.dm
Labels: Balance, Test Merge, Bug Fix

#2868 Fixes Permanently Slowed Simplemobs
  code/datums/status_effects/rogue/roguebuff.dm
Labels: Test Merge

#2854 [BUG FIX] checks if there's any reagents in the pot, not if reagents holder exists
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
Labels: Test Merge, Bug Fix

#2916 Spell Icon Sprites
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/spells/roguetown/wizard.dm
  icons/mob/actions/roguespells.dmi
Labels: Balance, Spriting

#2919 Enchanting Scroll Description/Name Updates
  code/modules/roguetown/roguejobs/mages/enchanting_scrolls.dm
Labels: Documentation
