Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-04, with the labels that each got.

#2660 NewMoon mercenary buffs and changes
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
Labels: Balance

#2626 Dark Elf Adjustments And Additions
  code/datums/components/darkling.dm
  code/modules/cargo/packsrogue/wardrobe.dm
  code/modules/clothing/rogueclothes/mask/mask.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
Labels: Balance, Test Merge

#2627 Adds a handful of descriptors for character creation
  code/datums/mob_descriptors/descriptors/body.dm
  code/datums/mob_descriptors/descriptors/face.dm
  code/datums/mob_descriptors/descriptors/prominent.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/datums/mob_descriptors/descriptors/voice.dm
  code/modules/client/descriptors/descriptor_choice.dm
Labels: Test Merge

#2642 Fixes wake-up not removing sleep debuff.
  code/modules/reagents/reagent_containers/pill.dm
Labels: Test Merge

#2653 Make Test merge links open in a new browser window in Byond 516.
  code/datums/helper_datums/getrev.dm
Labels: Test Merge

#2654 Fixes crafting causing natural bundles to disappear if they reduce to 1 item in-hand
  code/__HELPERS/crafting.dm
Labels: Test Merge

#2592 Knee stinger adjustments and quality of life
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#2598 Talkstone added to merchant
  code/modules/cargo/packsrogue/luxury.dm
Labels: Test Merge

#2661 Mating Press, Part 2
  code/datums/sexcon/sex_actions/deviant/titjob.dm
  code/datums/sexcon/sex_actions/force/force_armpit_lick.dm
  code/datums/sexcon/sex_actions/force/force_foot_lick.dm
  code/datums/sexcon/sex_actions/oral/armpit_lick.dm
  code/datums/sexcon/sex_actions/oral/foot_lick.dm
  code/datums/sexcon/sex_actions/sex/mating_press.dm
  roguetown.dme
Labels: Requested Changes

#2624 Blacksteel Expansion
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/roguetown/roguejobs/artificer/handsaw_chisel.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/special/blkknight.dmi
  icons/roguetown/clothing/special/onmob/blkknight.dmi
  icons/roguetown/items/crafting.dmi
  icons/roguetown/onmob/lefthand.dmi
  icons/roguetown/onmob/onmob.dmi
  icons/roguetown/onmob/righthand.dmi
  icons/roguetown/weapons/tools.dmi
Labels: Spriting, Test Merge

#2673 Blacksmith item modifications V1.0 (naming)
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Test Merge

#2558 Our Sacred Grove Is Being Desecrated
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/omens.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/events/rogue/_rogue.dm
  code/modules/events/rogue/desecrations.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/fae.dm
  roguetown.dme
Labels: Mapping, Test Merge

#2681 Fixes Fluvian race sprite colors
  icons/mob/species/moth_f.dmi
  icons/mob/species/moth_m.dmi
Labels: Spriting, Test Merge

#2687 Revert "Blacksmith item modifications V1.0 (naming) (#2673)"
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Test Merge

#2615 Adds Minstrel towner role.
  code/game/objects/structures/mineral_doors.dm
  code/modules/jobs/job_types/roguetown/towners/types/minstrel.dm
  roguetown.dme
Labels: Balance, Test Merge

#2638 Job warnings for religion roles
  code/modules/client/preferences.dm
Labels: Test Merge

#2688 makes all equipped procs keep args of parent proc...
  code/_onclick/other_mobs.dm
  code/_onclick/telekinesis.dm
  code/datums/components/riding.dm
  code/game/objects/items.dm
  code/game/objects/items/hot_potato.dm
  code/game/objects/items/rogueitems/bags.dm
  code/game/objects/items/rogueitems/instruments.dm
  code/game/objects/items/rogueitems/leash.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/rogueclothes/cloaks/cloaks.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/mask/mask.dm
  code/modules/clothing/rogueclothes/rings/rings.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/under/_under.dm
  code/modules/farming/produce.dm
  code/modules/mob/inventory.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/roguespill.dm
Labels: Test Merge

#2692 Makes spectacles fixable.
  code/modules/clothing/rogueclothes/mask/mask.dm
Labels: Test Merge

#2702 Fix for WW objectives description
  code/game/gamemodes/objectives_rogue.dm
Labels: Requested Changes

#2256 Lockpicking From TESO
  code/__DEFINES/dcs/signals_atom.dm
  code/_onclick/drag_drop.dm
  code/datums/elements/lockpicking.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  icons/hud/lockpicking.dmi
  roguetown.dme
  sound/items/LPBreak.ogg
  sound/items/LPStart.ogg
  sound/items/LPTry.ogg
  sound/items/LPTry2.ogg
  sound/items/LPTurn1.ogg
  sound/items/LPTurn2.ogg
  sound/items/LPWin.ogg
Labels: Spriting, Test Merge

#2696 Adds the blacksmith mod menu.
  code/game/objects/inhands_rogue.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Test Merge

#2700 Adjusts cage speeds, message, and examine
  code/game/objects/items/rogueitems/fishing_cage.dm
Labels: Test Merge

#2698 Fixes the infinite fuel bug.
  code/game/objects/lighting/roguelighting.dm
Labels: Test Merge

#2699 Adds sound to message spell.
  code/modules/spells/roguetown/wizard.dm
  sound/magic/message.ogg
Labels: Test Merge, Requested Changes

#2690 Population locking Autostockpile
  code/controllers/subsystem/rogue/treasury.dm
Labels: Test Merge

#2620 Revised ecclesiast buff
  code/modules/jobs/job_types/roguetown/refugees/types/ecclesiast.dm
Labels: Balance, Test Merge

#2725 Changes recruit exclaim from 'for the duke' to 'for the duchy'
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#2603 Stale setup
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/stale.yml
Labels: Documentation

#2662 Physician roles, Acolyte, Hospitaller, Revival, Derot Overhaul
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/traits.dm
  code/datums/components/rotting.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/special_traits/traits/traits.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/temporary_visuals/miracles.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/robes/robes.dm
  code/modules/clothing/rogueclothes/storage/fancy.dm
  code/modules/jobs/job_types/roguetown/bandits/types/sawbones.dm
  code/modules/jobs/job_types/roguetown/church/hospitaller.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/refugees/types/healer.dm
  code/modules/jobs/job_types/roguetown/refugees/types/underdwellers.dm
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/stats.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/lux.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/alchemist/recipe/reagents.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  code/modules/surgery/surgeries/extract_lux.dm
  code/modules/surgery/surgeries/hepatectomy.dm
  code/modules/surgery/surgeries/revival.dm
  icons/effects/miracle-healing.dmi
  icons/roguetown/items/produce.dmi
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  roguetown.dme
Labels: Balance, Mapping, Spriting, Test Merge

#2728 Templar helmet selection
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance, Test Merge

#2718 Fixes the autostockpile pop limit
  code/controllers/subsystem/rogue/treasury.dm
Labels: Test Merge, Bug Fix

#2650 Makes feints work against dodge
  code/game/objects/items/rogueweapons/rmb_intents.dm
Labels: Balance, Test Merge, stale

#2602 Expands goldface access.
  code/modules/roguetown/roguemachine/merchant.dm
Labels: Test Merge, stale

#2726 Wag message now actually fixed
  code/modules/mob/living/carbon/human/emote.dm
Labels: Test Merge, Bug Fix

#2749 Caveling Shaman Buff + Fix
  code/modules/jobs/job_types/roguetown/refugees/types/underdwellers.dm
Labels: Balance

#2724 Refined swamp weed description fix
  code/modules/reagents/reagent_containers/powderspice.dm
Labels: Bug Fix

#2710 Minstrel Changes, Troupe & Musketeer Fix, Music Additions
  code/datums/migrants/migrant_waves/fablefield roles.dm
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/game/objects/items/rogueitems/instruments.dm
  code/modules/jobs/job_types/roguetown/towners/types/minstrel.dm
  sound/music/instruments/accord (7).ogg
  sound/music/instruments/accord (8).ogg
  sound/music/instruments/guitar (7).ogg
  sound/music/instruments/guitar (8).ogg
  sound/music/instruments/guitar (9).ogg
  sound/music/instruments/harb (10).ogg
  sound/music/instruments/harb (8).ogg
  sound/music/instruments/harb (9).ogg
  sound/music/instruments/lute (10).ogg
  sound/music/instruments/lute (8).ogg
  sound/music/instruments/lute (9).ogg
Labels: Balance, Test Merge

#2703 Fix for initial memories missing character titles
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Test Merge, stale

#2685 Leech application speed fix
  code/modules/roguetown/roguejobs/fisher/leeches.dm
Labels: Test Merge

#2686 Lesserhealthpot reagent now heals a mild amount of blood
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
Labels: Test Merge

#2757 Fix issues with armour (not) breaking
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Test Merge, Bug Fix

#2730 Accuracy adjustments, swords get a bonus to use
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Balance, no-stale

#2731 Dead examine message fix
  code/modules/mob/mob.dm
Labels: Test Merge, Bug Fix

#2674 Adds a new spell: enlarge
  code/__DEFINES/magic/spells.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Test Merge, no-stale

#2750 Removes Magos Refugee Patron Lock
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
Labels: Balance

#2693 Glasses now actually helps
  code/modules/clothing/rogueclothes/mask/mask.dm
Labels: Test Merge

#2735 Allow admins to call unweighted (1-to-1) custom votes
  code/controllers/subsystem/vote.dm
Labels: no-stale

#2717 Fix and clean up Seelie code
  code/__DEFINES/traits.dm
  code/_onclick/other_mobs.dm
  code/controllers/subsystem/rogue/seelie_tab.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/caltrop.dm
  code/datums/components/footstep.dm
  code/datums/components/riding.dm
  code/datums/components/slippery.dm
  code/datums/components/squeak.dm
  code/datums/particle_weathers/datum_types/snow_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/game/gamemodes/game_mode.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/structures.dm
  code/game/objects/structures/roguetown/telescope.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/game/turfs/open/water.dm
  code/game/turfs/turf.dm
  code/modules/farming/seeds.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/seelie.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/rituals/ritual_types/divine/resurrection.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  roguetown.dme
Labels: Balance, Test Merge, stale

#2733 New clothing recipes
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/clothing/rogueclothes/cloaks/cloaks.dm
  code/modules/clothing/rogueclothes/gloves/gloves.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/neck/neck.dm
  code/modules/clothing/rogueclothes/pants/pants.dm
  code/modules/clothing/rogueclothes/robes/robes.dm
  code/modules/clothing/rogueclothes/shoes/shoes.dm
  code/modules/clothing/rogueclothes/storage/storage.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Test Merge, Feature/Content

#2752 Adds Lupian-Only Noises
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/voicepacks/genfemale.dm
  code/modules/mob/living/carbon/human/voicepacks/genmale.dm
  code/modules/mob/living/emote.dm
  sound/vo/bwark (2).ogg
  sound/vo/bwark (3).ogg
  sound/vo/bwark.ogg
  sound/vo/howl.ogg
  sound/vo/whine (1).ogg
  sound/vo/whine (2).ogg
Labels: Test Merge, Feature/Content

#2754 PP Improvements
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  fixed-indent.patch
Labels: Test Merge

#2758 Proper directions for sounds
  code/game/objects/items/rogueitems/signal_horn.dm
  code/game/say.dm
Labels: Test Merge

#2769 Wee Underworld fixes: Closed hole that lead to void, added cross for ADHD
  _maps/map_files/otherz/underworld.dmm
Labels: Mapping

#2776 Anklets craft fix
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
Labels: Bug Fix

#2737 Adds Necra censer, and smoke effect.
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/rogueitems/magic.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/roguetown/items/misc.dmi
  sound/items/censer_use.ogg
Labels: Balance, Spriting, Test Merge, Feature/Content
