Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-07, with the labels that each got.

#3050 Gives Your Testmerged PR Sildenafil (Viagra) So You Can Get a Stiffie Again (Not Clickbait)
  code/modules/client/customizer/customizers/organ/genitals.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/surgery/organs/feature_organs/genitals.dm
  icons/mob/sprite_accessory/genitals/penis.dmi
Labels: Spriting

#2945 Verminfolk Underdweller & Shaman Subclass Nerf
  code/__DEFINES/magic/spells.dm
  code/modules/jobs/job_types/roguetown/refugees/types/underdwellers.dm
  code/modules/spells/roguetown/wizard.dm
Labels: Balance, Test Merge

#3011 Removes tabaxi speech change
  code/modules/surgery/organs/tongue.dm
Labels: Test Merge

#2993 Vanderlin-Azure alchemy port [2] Meet new butching
  code/datums/components/butchering.dm
  code/game/objects/structures/roguetown/meathook.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mole.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/farm/chicken.dm
  code/modules/mob/living/simple_animal/rogue/farm/cow.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/roguetown/roguecrafting/structure.dm
  icons/roguetown/misc/tallstructure.dmi
  roguetown.dme
Labels: Mapping, Spriting, Test Merge, Requested Changes

#3063 Bundle of QoL
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/objects/structures/well.dm
  code/game/turfs/open/water.dm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#3073 Peace Begone
  code/modules/clothing/rogueclothes/cloaks/cloaks.dm
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
Labels: Spriting, Test Merge

#3064 Half-Orc NPCs
  code/modules/mob/living/carbon/human/npc/halforc_npc.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
  code/modules/mob/living/carbon/human/voicepacks/other/orc.dm
  roguetown.dme
Labels: Documentation, Test Merge, Feature/Content

#3061 Alembic Quickfix & Magos Alchemy Raised
  code/game/objects/items/thermometer.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Balance

#3037 Flavourtext (ratwood edition)
  code/__DEFINES/preferences.dm
  code/__HELPERS/text.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  interface/skin.dmf
Labels: Test Merge

#3041 Recipe book
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/rogueitems/books.dm
  code/modules/crafting/recipe_books/book_entries/book_entry_base.dm
  code/modules/crafting/recipe_books/recipe_book.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/bladesinger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/dwarfwarrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pirate.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/thief.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/warrior.dm
  code/modules/jobs/job_types/roguetown/towners/types/blacksmith.dm
  code/modules/jobs/job_types/roguetown/towners/types/hunter.dm
  code/modules/jobs/job_types/roguetown/towners/types/seamster.dm
  code/modules/library/lib_items.dm
  code/modules/library/random_books.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/carpentry.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/crafting/weapons_tools.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/leather/leather.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_footwear_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/tallow.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  roguetown.dme
Labels: Balance, Test Merge

#3043 Clothing additions and changes from #2895
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/shirts/shirts.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts_gown.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/onmob/shirts_gown.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/clothing/shirts_gown.dmi
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting, Test Merge

#3047 adds a tail + bug head sprite fix
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/snouts/snouts.dmi
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#3052 Flaw Additions & Changes
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/character_flaw/addiction.dm
  code/datums/sexcon/sexcon.dm
  code/datums/special_traits/traits/traits.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/say.dm
  code/modules/paperwork/rogue.dm
  modular/code/datums/character_flaw.dm
  roguetown.dme
Labels: Test Merge, Feature/Content

#3075 Fixed the pistol overlay issue
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#3035 Azure rockhill map port
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/decorations/stone_path.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguetown/bell.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  modular/code/game/objects/pillory.dm
  roguetown.dme
Labels: Mapping, stale

#3071 Rondel Daggers & Misericordes
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/cargo/packsrogue/bandit/knave.dm
  code/modules/cargo/packsrogue/bandit/knave_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/sawbones.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/knave.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_jager.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/sellsword.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
  roguetown.dme
Labels: Balance, Spriting, Test Merge
