Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-01, with the labels that each got.

#2091 New sprite for Eora's mask.
  code/modules/clothing/rogueclothes/hats/hats.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
Labels: Spriting

#2059 Minorly buffs Grenz Kommandant to be actually better
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shoes.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
Labels: Balance, Test Merge

#2076 General Surgery, Revival, Rot, and Wound Fixes
  code/datums/components/rotting.dm
  code/datums/wounds/_wound.dm
  code/datums/wounds/types/arteries.dm
  code/datums/wounds/types/fractures.dm
  code/modules/mob/living/living_wounds.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  code/modules/surgery/surgeries/fracture.dm
  code/modules/surgery/surgeries/prosthetic_replacement.dm
Labels: Test Merge

#2068 Lesser-Greater potions Alchemy Part 1: Health
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  code/modules/roguetown/roguestock/import.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
Labels: Mapping, Test Merge

#2062 Adding lowtown, making bog lower, adding walls, moving gatehouse, adding mayor's house, moving garrison
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/game/gamemodes/roguetown/roguewar.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/vendor.dm
  roguetown.dme
Labels: Balance, Mapping, Test Merge

#2085 Make out option in ERP menu
  code/datums/sexcon/sex_actions/oral/kissing.dm
Labels: Balance

#2049 Fix command bar
  interface/skin.dmf
Labels: Test Merge

#2096 Court physician patron lock removal
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
Labels: Balance

#2083 gives inquisitor custom armor & gives confessor a rag mask
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/shoes.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  roguetown.dme
Labels: Balance, Spriting

#2103 Priest/Acolyte titles and old priests
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance, Test Merge

#2098 Fire fixes, Critical State Fixes, Lava fix
  code/__DEFINES/bodytemperature.dm
  code/_onclick/hud/alert.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/fire_burning.dm
  code/game/turfs/open/lava.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/status_procs.dm
Labels: Test Merge

#2101 Added SCOMs in shops, added black dresses and aprons to maid storage
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2099 Chosen? No, Consecrated.
  code/__DEFINES/traits.dm
Labels: Test Merge

#2093 Arrow/Bolt Crafting Tweak & Hunter/Tracker Skill Adjust
  code/modules/jobs/job_types/roguetown/refugees/types/scavenger.dm
  code/modules/jobs/job_types/roguetown/towners/types/hunter.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Balance

#2107 Minor Garrison Changes (+Buffs)
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/refugees/refugee.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#2094 Priest/Church buff
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting, Test Merge

#2114 Moved breakable steward window 1 z level lover
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2089 bandaid fix for bugged formal silks
  code/modules/cargo/packsrogue/wardrobe.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: Balance, Test Merge

#2116 Makes citywatch armor more inline with MAA armor
  code/modules/clothing/rogueclothes/temp/citywatch.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
Labels: Balance

#2109 New Day-Night Cycle System
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/__DEFINES/layers.dm
  code/__DEFINES/particle_weather.dm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/time.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/particle_weather.dm
  code/controllers/subsystem/particle_weather_outdoors.dm
  code/controllers/subsystem/rogue/pollutants.dm
  code/controllers/subsystem/rogue/todchange.dm
  code/datums/components/rotting.dm
  code/datums/outdoor_datum.dm
  code/datums/particle_weathers/_base.dm
  code/datums/pollutants/generic.dm
  code/datums/pollution.dm
  code/game/objects/lighting/sunlight.dm
  code/game/turfs/open/pollutants.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
  code/modules/mob/living/carbon/human/npc/zizombies.dm
  roguetown.dme
Labels: Mapping, Test Merge

#2106 Lowers harbor ambient volume
  sound/music/area/harbor.ogg
Labels: Test Merge

#2117 Moves cows & chickens to new AI
  code/__DEFINES/ai/_ai.dm
  code/__DEFINES/ai/hostile.dm
  code/__DEFINES/components.dm
  code/__DEFINES/traits.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/ai_movement/_ai_planning_subtree.dm
  code/datums/ai/behaviours/find_mom.dm
  code/datums/ai/behaviours/find_nest.dm
  code/datums/ai/behaviours/incubate_egg.dm
  code/datums/ai/behaviours/lay_egg.dm
  code/datums/ai/behaviours/make_babies.dm
  code/datums/ai/behaviours/perform_emote.dm
  code/datums/ai/behaviours/run_from_target.dm
  code/datums/ai/behaviours/tipped_reaction.dm
  code/datums/ai/behaviours/travel_towards.dm
  code/datums/ai/controllers/basic_controllers/chicken.dm
  code/datums/ai/controllers/basic_controllers/cow.dm
  code/datums/ai/controllers/troll.dm
  code/datums/ai/idle_behaviors/random_walk.dm
  code/datums/ai/subtrees/find_food.dm
  code/datums/ai/subtrees/lay_egg.dm
  code/datums/ai/subtrees/look_for_adult.dm
  code/datums/ai/subtrees/make_babies.dm
  code/datums/ai/subtrees/random_speech.dm
  code/datums/ai/subtrees/tip_reaction.dm
  code/datums/components/breed.dm
  code/datums/components/tippable.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/obj_defense.dm
  code/modules/farming/eggs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mole.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/farm/chicken.dm
  code/modules/mob/living/simple_animal/rogue/farm/cow.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
  code/modules/mob/living/simple_animal/rogue/farm/udder.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/rogue/rogueanimals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  roguetown.dme
Labels: Test Merge

#2123 Update ai_flee_when_hurt.dm
  code/datums/elements/ai_flee_when_hurt.dm
Labels: Test Merge

#2120 Farm Remap and other map stuff
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#2113 Steward glasses removal + no longer forced to be virgin
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
Labels: Balance

#2129 Bandit Exit Fix
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#2112 Misc Refugee Buff
  code/modules/jobs/job_types/roguetown/refugees/types/deserter.dm
  code/modules/jobs/job_types/roguetown/refugees/types/ecclesiast.dm
  code/modules/jobs/job_types/roguetown/refugees/types/noble.dm
  code/modules/jobs/job_types/roguetown/refugees/types/scavenger.dm
Labels: Balance

#2137 Removes the ability to use triumphs to resist confession.
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#2141 Makes Butcher Slightly More Playable Now
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
Labels: Balance

#2097 The Glorious Evolution
  code/modules/mob/living/grabbing.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/engineering/prosthetics.dm
Labels: Requested Changes

#2150 Dark boots sprite fix
  icons/roguetown/clothing/onmob/feet.dmi
Labels: Spriting

#2145 Music Boxes correct sound channel
  code/game/objects/items/rogueitems/dmusicbox.dm
  code/game/objects/structures/roguetown/musicbox.dm
Labels: Test Merge

#2140 Inventory Grid changes & Fixes
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/datums/components/storage/storage_types.dm
  code/game/objects/items/rogueitems/bags.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/storage/bag.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/farming/composter.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/roguetown/roguecrafting/items.dm
  modular/Neu_Food/code/cooked/NeuFood_meals.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
Labels: Mapping, Test Merge

#2132 Round wont start without a Duke/Duchess
  code/controllers/subsystem/ticker.dm
Labels: Test Merge

#2121 Snow effects
  _maps/rockhill.json
  code/__DEFINES/_tick.dm
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/signals/signals_movable.dm
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__DEFINES/elements.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/particle_weather.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/turf_flags.dm
  code/__HELPERS/time.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/dcs.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/particle_weather.dm
  code/controllers/subsystem/particle_weather_outdoors.dm
  code/controllers/subsystem/processing/slow_objects.dm
  code/datums/elements/_element.dm
  code/datums/elements/mob_overlay_effect.dm
  code/datums/outdoor_datum.dm
  code/datums/particle_weathers/_base.dm
  code/datums/particle_weathers/datum_types/snow_storm.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/trams_and_elevators/industrial_lift.dm
  code/game/objects/effects/falling_leaves.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/water.dm
  code/game/turfs/turf.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  icons/effects/icon_cutter.dmi
  icons/effects/particles/particle.dmi
  icons/effects/snow.dmi
  roguetown.dme
Labels: Mapping, Spriting, Test Merge

#2155 Dechudding the last Bastion of toxic masculinity in the Keep, or How I Learned To Stop Caring And Let Girls Play Captain
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#2149 nerfs wooden platform cost, makes carpentry and masonry easier
  code/modules/roguetown/roguecrafting/turfs.dm
Labels: Requested Changes

#2156 Logging & Other fixes
  code/__HELPERS/icons.dm
  code/datums/browser.dm
  code/datums/status_effects/status_effect.dm
  code/modules/client/preferences.dm
Labels: Test Merge

#2139 Leather armor & newmoon nerf
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/leather/armor.dm
Labels: Test Merge

#2153 Separate the Inquisition into its own category.
  code/__DEFINES/jobs.dm
  code/datums/special_traits/traits/traits.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/antagonists/roguetown/villain/zizocult.dm
  code/modules/jobs/job_types/roguetown/inquisition/confessor.dm
  code/modules/jobs/job_types/roguetown/inquisition/puritan.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  roguetown.dme
Labels: Balance, Test Merge

#2161 Snow tweaks
  code/__HELPERS/time.dm
Labels: Test Merge

#2126 Ominous PR ---AKA Infinite ticket generator ---AKA Acid pit in bastion /Ready for tests/
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/roguetown/redstone.dm
  icons/roguetown/misc/structure.dmi
Labels: Mapping, Spriting, Test Merge

#2147 Vampire Lord rebalance
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/zizocult.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/mob/living/carbon/rogfatstam.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Balance, Test Merge

#2144 Goblin rebalance
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
Labels: Balance, Test Merge

#2167 The principle of equal exchange - Replaced old sigyl, added new one in church
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/traits.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/items/rogueitems/books.dm
  code/modules/antagonists/roguetown/villain/zizocult.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/rituals/_ritual.dm
  code/modules/rituals/_sigil.dm
  code/modules/rituals/draw.dm
  code/modules/rituals/ritual_types/divine/resurrection.dm
  code/modules/rituals/ritual_types/zizo/fleshcrafting.dm
  code/modules/rituals/ritual_types/zizo/servantry.dm
  code/modules/rituals/ritual_types/zizo/transmutation.dm
  code/modules/rituals/sigil_types/divine.dm
  code/modules/rituals/sigil_types/zizo.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  code/modules/spells/roguetown/priest.dm
  icons/obj/sigils/sigil_pantheon.dmi
  icons/obj/sigils/sigil_zizo.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting

#2171 Steward's house and Keep Dungeon update
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2174 Readds the goldface and merchant balloon
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/roguetown/roguemachine/merchant.dm
Labels: Mapping

#2168 Remaps Butcher's House, Adds QoL Features & Fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2166 The Chiseling
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  _maps/map_files/roguetest/roguetest.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_2.dmm
  _maps/map_files/templates/sewers/sewers_top_2.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/glass.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/cargo/packsrogue/things.dm
  code/modules/jobs/job_types/roguetown/refugees/types/scavenger.dm
  code/modules/jobs/job_types/roguetown/towners/types/blacksmith.dm
  code/modules/jobs/job_types/roguetown/towners/types/woodcutter.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificier.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/artificer/handsaw_chisel.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguestock/import.dm
  icons/mob/roguehud.dmi
  icons/roguetown/items/crafting.dmi
  icons/roguetown/onmob/lefthand.dmi
  icons/roguetown/onmob/onmob.dmi
  icons/roguetown/onmob/righthand.dmi
  icons/roguetown/weapons/tools.dmi
  roguetown.dme
  sound/foley/brickdrop.ogg
  sound/foley/glass_clatter.ogg
  sound/foley/glassbreak.ogg
  sound/foley/sawing.ogg
  sound/foley/stone_scrape.ogg
  sound/foley/wood_cutting.ogg
  tools/UpdatePaths/Scripts/90000_crafts_repath.txt
Labels: Balance, Mapping, Spriting, Test Merge

#2175 Acid pit cell
  _maps/map_files/rockhill/rockhill.dmm
  icons/roguetown/misc/structure.dmi
Labels: Mapping, Spriting

#2180 ThirdTimeHammering!
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2178 Swampweed
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/farming/produce.dm
  code/modules/roguetown/mapgen/bog.dm
Labels: Test Merge

#2193 Removes pants sexism
  code/modules/jobs/job_types/roguetown/towners/types/blacksmith.dm
Labels: Balance

#2192 Part 1 of NeuFarm stuff - Tools
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/leather/pants.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/farming/chaff.dm
  code/modules/farming/tools.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  icons/roguetown/items/misc.dmi
  icons/roguetown/onmob/lefthand.dmi
  icons/roguetown/onmob/onmob.dmi
  icons/roguetown/onmob/righthand.dmi
  icons/roguetown/weapons/tools.dmi
  modular/Neu_Farming/icons/farmtools.dmi
  modular/Neu_Food/icons/cooking.dmi
  sound/foley/dropsound/blade_drop.ogg
  tools/UpdatePaths/Scripts/90000_crafts_repath.txt
Labels: Spriting, Test Merge

#2196 Minor map fixes (#2171)
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2176 Moves Physician and Magician under noble like their jobs state they are
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/nobility/magician.dm
  code/modules/jobs/job_types/roguetown/nobility/physician.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Balance

#2207 Mercenary weapon choice
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/sellsword.dm
Labels: Balance

#2230 Adds Lynx ears & tail to Tabaxi (as well as Half-Kin and Wild-Kin)
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/ears/ears.dmi
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#2154 Grenzelhoft Lore update + Grenzelhoft Jager + Firearms Nerf + Firearm File Cleanup
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/blunderbuss.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/firearm.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/handgonne.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/items.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/pistol.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_jager.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/refugees/types/deserter.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  icons/roguetown/weapons/flintgonne.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting, Lore, Review Needed

#2251 Revert "Grenzelhoft Lore update + Grenzelhoft Jager + Firearms Nerf + Firearm File Cleanup"
  _maps/map_files/rockhill/rockhill.dmm
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/arquebus.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/blunderbuss.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/handgonne.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/items.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/pistol.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_jager.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/refugees/types/deserter.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  icons/roguetown/weapons/flintgonne.dmi
  roguetown.dme
Labels: Balance, Mapping, Spriting

#2234 Wednesday Night Bugfixes/QoL
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueitems/leash.dm
  code/game/objects/items/rogueitems/signal_horn.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/dead/new_player/sprite_accessory/wings.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/surgery/organs/feature_organs/wings.dm
  icons/mob/sprite_accessory/tails/tails.dmi
  icons/mob/sprite_accessory/wings/wings_64x32.dmi
  icons/mob/sprite_accessory/wings/wings_huge.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#2212 NoSnow
  code/__HELPERS/time.dm
Labels: Test Merge

#2267 Jager PR 2 Electric Boogaloo
  code/datums/migrants/migrant_waves/musketeer roles.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/blunderbuss.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/firearm.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/handgonne.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/items.dm
  code/game/objects/items/rogueweapons/ranged/gunpowder/pistol.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_jager.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/refugees/types/deserter.dm
  code/modules/jobs/job_types/roguetown/yeomen/architect.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  icons/roguetown/weapons/flintgonne.dmi
  roguetown.dme
Labels: Balance, Spriting

#2238 Skills added based on age for town roles
  code/modules/jobs/job_types/roguetown/towners/types/blacksmith.dm
  code/modules/jobs/job_types/roguetown/towners/types/hunter.dm
  code/modules/jobs/job_types/roguetown/towners/types/miner.dm
  code/modules/jobs/job_types/roguetown/towners/types/peasant.dm
  code/modules/jobs/job_types/roguetown/towners/types/seamster.dm
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/job_types/roguetown/towners/types/woodcutter.dm
Labels: Balance

#2225 Steppe Raiders
  code/datums/migrants/migrant_waves/gronn_roles.dm
  code/datums/migrants/migrant_waves/gronn_wave.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/leather/armor.dm
  code/modules/clothing/rogueclothes/leather/pants.dm
  code/modules/clothing/rogueclothes/leather/shoes.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  roguetown.dme
Labels: Spriting, Test Merge

#2279 Confession tweaks lite
  code/datums/gods/patrons/atheism.dm
  code/modules/jobs/job_types/roguetown/inquisition/puritan.dm
Labels: Balance

#2247 Gives nightmaster expert knives instead of expert crossbows
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
Labels: Balance

#2280 #2201 Re-Addition
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
Labels: Balance

#2287 Fixes for goblin clothing
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#2299 Letting carpenters do the their job
  code/modules/jobs/job_types/roguetown/towners/types/woodcutter.dm
Labels: Balance

#2305 Adds Draconic to Archivist
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#2252 Fixes for templars helmets
  code/modules/clothing/rogueclothes/hats/templar.dm
  icons/roguetown/clothing/head.dmi
Labels: Balance, Mapping, Spriting

#2307 makes newmoon spellblades locked to noc
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
Labels: Balance

#2296 Arousal freeze + Set arousal option
  code/datums/sexcon/sexcon.dm
Labels: Test Merge

#2270 AIfix and Revivestuff
  code/__DEFINES/traits.dm
  code/datums/elements/ai_flee_when_hurt.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
Labels: Balance, Test Merge

#2306 Runtime Fixes
  code/__HELPERS/icons.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/ai/behaviours/run_from_target.dm
  code/datums/special_traits/special_trait.dm
  code/datums/special_traits/traits/traits.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/objs.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/events/spacevine.dm
  code/modules/mapping/reader.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
Labels: Test Merge

#2320 Fixes Potential Necromancy Exploit
  code/__DEFINES/traits.dm
  code/modules/antagonists/roguetown/villain/lich/lich.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Balance

#2326 Barkeep Buffs
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
Labels: Balance

#2323 New rogue subclass!
  code/modules/jobs/job_types/roguetown/refugees/types/rogue.dm
Labels: Balance

#2322 Major Sleeves Fix
  code/__DEFINES/misc.dm
  code/game/objects/items.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/leather/armor.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/temp/citywatch.dm
  code/modules/clothing/rogueclothes/temp/councillor.dm
  code/modules/clothing/rogueclothes/temp/duchess.dm
  code/modules/clothing/rogueclothes/temp/duke.dm
  code/modules/clothing/rogueclothes/temp/hand.dm
  code/modules/clothing/rogueclothes/temp/heir.dm
  code/modules/clothing/rogueclothes/temp/heiress.dm
  code/modules/clothing/rogueclothes/temp/magos.dm
  code/modules/clothing/rogueclothes/temp/steward.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
Labels: Spriting

#2246 Merchant update! Price changes & new items for their catalogue
  code/modules/cargo/packsrogue/apparel.dm
  code/modules/cargo/packsrogue/armor.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/cargo/packsrogue/seeds.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/cargo/packsrogue/wardrobe.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguemachine/merchant.dm
Labels: Balance, Test Merge

#2293 Readds tipping knives, also adds salt water turfs
  code/datums/elements/tipped_item.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/turfs/open/water.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
  roguetown.dme
Labels: Test Merge

#2295 More dark elf tweaks
  code/controllers/subsystem/nightshift.dm
  code/datums/components/darkling.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
Labels: Test Merge

#2338 Fancyshark Tail Return
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting
