Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-02, with the labels that each got.

#2334 Smoke bombs!
  code/game/objects/items/rogueitems/bombs.dm
  code/modules/cargo/packsrogue/bandit/knave.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/refugees/types/performer.dm
  code/modules/jobs/job_types/roguetown/refugees/types/rogue.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/artificer/artificer recipes/artificer_recipes.dm
  icons/roguetown/items/misc.dmi
Labels: Balance, Spriting

#2362 Slight Miner QoL, Adds Hammer/Chisel
  code/modules/jobs/job_types/roguetown/towners/types/miner.dm
Labels: Balance

#2366 Sneaky councillors
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
Labels: Balance

#2363 [BUGFIX] Class selection fix and butler class coloring
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#2352 Re adds Engineering 2 to blacksmith towner, upd tutorial, reverts blue dress colour
  code/__DEFINES/colors.dm
  code/modules/jobs/job_types/roguetown/towners/types/blacksmith.dm
Labels: Balance

#2364 Adds more skills to archivist
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#2345 Premium slaves and exotic silks
  code/datums/components/footstep.dm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/modules/cargo/packsrogue/wardrobe.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/shoes.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Spriting

#2375 Adds defines for all(current) 133 spells, replaces clunky typepaths in jobs for adding spells with the defines
  code/__DEFINES/magic/spells.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/bandits/types/sawbones.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/seelie.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/newmoon.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/magician.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/jobs/job_types/roguetown/nobility/physician.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/job_types/roguetown/refugees/types/healer.dm
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/seamster.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/spells/roguetown/wizard.dm
  roguetown.dme
Labels: Balance

#2321 Reworks a LOT of specials, adds a few new ones and a PURITY gem for Mule
  code/datums/special_traits/traits/traits.dm
  code/game/objects/items/rogueitems/devices.dm
Labels: Test Merge

#2400 [SPRITE FIX] Enabling zig roach icon + adding candy icons.
  code/game/objects/items/cigs_lighters.dm
  icons/roguetown/items/food.dmi
Labels: Spriting

#2310 Big Flavor Additions
  code/_onclick/item_attack.dm
  code/controllers/subsystem/skills.dm
  code/modules/jobs/job_types/roguetown/bandits/types/brigand.dm
  code/modules/jobs/job_types/roguetown/bandits/types/foresworn.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/knave.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/bandits/types/sawbones.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/archer.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/footman.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/halberdier.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/magician.dm
  code/modules/jobs/job_types/roguetown/nobility/marshal.dm
  code/modules/jobs/job_types/roguetown/nobility/physician.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/emote.dm
Labels: Balance, Test Merge

#2298 Vampire Fixes + Subclass Expansion for Vampire Spawn
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/mob/living/grabbing.dm
Labels: Test Merge

#2411 Heraldry for weapons! (Skin changes)
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  icons/roguetown/weapons/daggerherald.dmi
  icons/roguetown/weapons/idaggerherald.dmi
  icons/roguetown/weapons/iswordherald.dmi
  icons/roguetown/weapons/maceherald.dmi
  icons/roguetown/weapons/smaceherald.dmi
  icons/roguetown/weapons/swordherald.dmi
Labels: Spriting

#2388 Death By Snu Snu
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/other_mobs.dm
  code/datums/migrants/migrant_waves/gronn_roles.dm
  code/datums/migrants/migrant_waves/slaver roles.dm
  code/datums/sexcon/sex_actions/sex/anal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/anal_sex.dm
  code/datums/sexcon/sex_actions/sex/throat_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_sex.dm
  code/datums/sexcon/sexcon.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/jobs/job_types/roguetown/bandits/types/brigand.dm
  code/modules/jobs/job_types/roguetown/bandits/types/foresworn.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/knave.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/bandits/types/sawbones.dm
  code/modules/mob/living/grabbing.dm
Labels: Balance

#2433 Backend for xp gain denial on certain crafting recipes, arcana crafting gives no xp & misc fixes for magestuff
  code/__HELPERS/crafting.dm
  code/datums/components/crafting/recipes.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/infernal.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  code/modules/roguetown/roguejobs/mages/ritualdatums.dm
  code/modules/roguetown/roguejobs/mages/ritualrunes.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
Labels: Test Merge

#2421 A bit more fixes for sleeves
  code/game/objects/items.dm
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Spriting

#2450 [SPRITE FIXES] Small races body sprite issues
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  icons/mob/species/goblin_female.dmi
  icons/mob/species/goblin_male.dmi
  icons/mob/sprite_accessory/ears/ears.dmi
Labels: Spriting

#2422 Bow QoL
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/ammo.dmi
Labels: Spriting

#2451 [COSMETIC] Joinlate changes
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Balance

#2390 Underdwellers!
  code/modules/clothing/rogueclothes/robes/robes.dm
  code/modules/jobs/job_types/roguetown/refugees/types/underdwellers.dm
  roguetown.dme
Labels: Balance

#2467 Admin Additions - Up and Down arrows
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Spriting

#2472 Fixes eora robes on small races
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Spriting

#2468 Courtiers joinlate hotfix
  code/modules/jobs/job_types/roguetown/garrison/mayor.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
Labels: Balance

#2483 New A-Ghost Icons
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Spriting

#2471 Bastion Walls + Town Fixes + Other Stuff [RE-PRd]
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge
