Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-03, with the labels that each got.

#2459 All Clothes Dyable + More azure yoink
  code/modules/roguetown/roguejobs/tailor/dyer.dm
Labels: Test Merge

#2464 Confessor gear
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/clothing/rogueclothes/gloves/gloves.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/clothing/rogueclothes/mask/mask.dm
  code/modules/clothing/rogueclothes/pants/pants.dm
  code/modules/clothing/rogueclothes/shirts/shirts.dm
  code/modules/clothing/rogueclothes/storage/storage.dm
  code/modules/jobs/job_types/roguetown/inquisition/confessor.dm
  code/modules/jobs/job_types/roguetown/inquisition/puritan.dm
  icons/roguetown/clothing/inquisition_overseers/onmob/overseer_onmob.dmi
  icons/roguetown/clothing/inquisition_overseers/overseer.dmi
Labels: Balance, Spriting, Test Merge

#2465 Gives Dungeoneer Bed Breaker
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
Labels: Balance

#2487 Possible crash fix
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/nightshift.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Test Merge

#2488 Some fixes for the weapon heraldry PR + compatibility for hunting knives and halberd/bardiche
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  icons/roguetown/weapons/halberdherald.dmi
  icons/roguetown/weapons/idaggerherald.dmi
  icons/roguetown/weapons/maceherald.dmi
Labels: Spriting

#2489 Lesser-Greater potions Alchemy Part 2: Mana
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/refugees/types/magos.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  code/modules/roguetown/roguejobs/mages/magestructures.dm
  code/modules/spells/roguetown/acolyte/sawbones.dm
Labels: Balance, Test Merge

#2512 Removes bad symbolism
  icons/roguetown/weapons/wood_heraldry.dmi
Labels: Spriting

#2429 Refugee merchant update
  code/modules/jobs/job_types/roguetown/refugees/types/merchant.dm
Labels: Balance

#2405 Retinue stat changes - MAA, Vanguard & Watchman
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/citywatch.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/archer.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/footman.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/halberdier.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/veteran.dm
Labels: Balance

#2531 Removes Priest Age Restriction to MIDDLE_AGED+
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance

#2434 Allows smiths with a skill level of 4 and above to repair broken armour
  code/modules/clothing/clothing.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: Test Merge

#2480 Removes Family System Test-Merge
  code/__DEFINES/preferences.dm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/datums/sexcon/sexcon.dm
  code/game/objects/structures/fluff.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/bandits/bandit.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
  code/modules/jobs/job_types/roguetown/refugees/refugee.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  roguetown.dme
Labels: Balance, Test Merge

#2507 Fixes specials flavour text, removes bad specials
  code/datums/special_traits/traits/traits.dm
Labels: Test Merge

#2497 Goblin Tribe Adjustments/Re-Balancing
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
Labels: Balance, Test Merge

#2463 Latejoin Goblins
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinshaman.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Balance, Test Merge

#2564 Slight Fisher skill increase
  code/modules/jobs/job_types/roguetown/towners/types/fisher.dm
Labels: Balance

#2510 Return to the Bog
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#2503 Mostly reverts skill names
  code/controllers/subsystem/skills.dm
Labels: Test Merge

#2569 Stalker Bow Choice
  code/modules/jobs/job_types/roguetown/refugees/types/rogue.dm
Labels: Balance

#2547 Added three knight subclasses, general knight changes.
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance, Test Merge

#2504 New Bog Sprites By Kino
  code/game/objects/structures/roguetown/newtree.dm
  code/game/turfs/open/floor/roguefloor.dm
  icons/roguetown/misc/tree.dmi
  icons/turf/roguefloor.dmi
Labels: Spriting, Test Merge

#2530 Kneestinger immunity to Druid
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance

#2574 Decapitation fixes
  code/modules/surgery/organs/brain.dm
Labels: Test Merge

#2566 Adds vanguard cloak sprites for small races
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#2541 Fix for noble boots on female characters
  icons/roguetown/clothing/onmob/feet.dmi
Labels: Spriting

#2518 516 HTML fixes
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/triumphs/triumph_buy_menu.dm
  code/datums/browser.dm
  code/modules/admin/admin.dm
Labels: Test Merge

#2514 Mage/magic tweaks and summon fixes,
  code/__DEFINES/ai/hostile.dm
  code/datums/ai/behaviours/hostile/find_priority_targets.dm
  code/datums/ai/controllers/summon.dm
  code/datums/ai/subtrees/simple_find_priority.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueitems/natural/monster.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/rogue/creacher/familiar.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/elemental.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/fae.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/infernal.dm
  code/modules/mob/living/simple_animal/rogue/creacher/summoned/void.dm
  code/modules/roguetown/roguejobs/mages/mageitems.dm
  code/modules/roguetown/roguejobs/mages/magestructures.dm
  code/modules/roguetown/roguejobs/mages/ritualrunes.dm
  code/modules/spells/roguetown/wizard.dm
  icons/effects/160x160.dmi
  roguetown.dme
Labels: Spriting, Test Merge

#2522 Fishing cages and shellfish! [Bounty]
  code/game/objects/items/rogueitems/fishing_cage.dm
  code/game/objects/items/rogueitems/gems.dm
  code/modules/clothing/rogueclothes/neck/neck.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/items/gems.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/fish.dmi
  modular/Neu_Food/code/cooked/NeuFood_pies.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular/Neu_Food/icons/food.dmi
  roguetown.dme
Labels: Spriting, Test Merge

#2573 Fixes wooden chair type when knocked over.
  code/game/objects/structures/beds_chairs/roguechair.dm
  icons/roguetown/items/chairs.dmi
Labels: Spriting

#2505 Adds Beggar Latespawns To Sewers
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#2446 Bottle Bomb: lowers chance of fail, fixes qdel issue.
  code/game/objects/items/rogueitems/bombs.dm
Labels: Test Merge

#2538 Less MAA slots
  code/modules/jobs/job_types/roguetown/garrison/manatarms/manorguard.dm
Labels: Balance

#2562 Fixes for vampires (features, mostly)
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
Labels: Test Merge

#2511 Enables Subtle On Emotes, And Blocks Ghosts From Seeing Them
  code/modules/mob/say.dm
  modular/code/modules/living/emote.dm
Labels: Test Merge

#2560 Preist's rework (sermons+excom and apostasy)
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/datums/stress/positive_events.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Balance, Test Merge

#2567 Gives hammer to underdweller
  code/modules/jobs/job_types/roguetown/refugees/types/underdwellers.dm
Labels: Balance

#2371 Removes goblin camp immunity to being found
  code/game/objects/structures/traveltile.dm
Labels: Test Merge

#2559 Goblin Prisoner and Unbanditifying Prisoner Roles
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
Labels: Balance, Test Merge

#2452 Tavern map changes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#2550 Pinning Stamina Cost
  code/modules/mob/living/grabbing.dm
Labels: Test Merge

#2399 Goonchat - separate attempt
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/say.dm
  code/__HELPERS/files.dm
  code/_onclick/hud/mouseover.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/asset_cache.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/ooc.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/html/browserOutput.html
  goon/browserassets/css/browserOutput.css
  goon/browserassets/js/browserOutput.js
  goon/browserassets/js/jquery.min.js
  goon/browserassets/js/json2.min.js
  goon/browserassets/js/purify.min.js
  interface/fonts/languages/dwarf.ttf
  interface/fonts/languages/elf.ttf
  interface/fonts/languages/old/draconic.otf
  interface/fonts/languages/old/dwarf.ttf
  interface/fonts/languages/old/elf.ttf
  interface/fonts/languages/old/pterra.ttf
  interface/fonts/languages/old/sand.ttf
  interface/fonts/languages/sand.ttf
Labels: Test Merge

#2496 Templar Brother/Sister Title Fix
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#2502 New set of dices to GAMBLE
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/dice.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/jobs/job_types/roguetown/refugees/types/vagabond.dm
  code/modules/paperwork/papers/scrap.dm
Labels: Balance, Mapping, Test Merge

#2482 Adds protection values to inspect [Azure port]
  code/game/objects/items.dm
Labels: Test Merge

#2582 Adds restrictions to fishable turfs.
  code/__HELPERS/unsorted.dm
  code/game/objects/items/rogueitems/fishing_cage.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: Test Merge

#2587 Fix for over/underflowing stat boosts causing round-permanent stat changes
  code/modules/mob/living/stats.dm
Labels: Test Merge

#2601 Novitiate fix (broken latejoin)
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/youngfolk/novitiate.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Balance

#2596 Makes forks (utensil) functional.
  code/modules/food_and_drinks/food/snacks.dm
  modular/Neu_Food/code/NeuFood.dm
Labels: Test Merge

#2585 Werewolf fix
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_spells.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Test Merge

#2581 Werewolf armor fix
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Test Merge

#2551 Mount nerfs and changes
  code/modules/cargo/packsrogue/bandit/foresworn.dm
  code/modules/jobs/job_types/roguetown/bandits/types/brigand.dm
  code/modules/jobs/job_types/roguetown/bandits/types/foresworn.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/archer.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/footman.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/halberdier.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/desertrider.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_movement.dm
Labels: Balance

#2618 Updates Plate Chausses sprites, adds small race version.
  code/modules/clothing/rogueclothes/pants/pants.dm
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Spriting

#2631 Dye bin: fix multiple insertion bug, updates window GUI.
  code/modules/roguetown/roguejobs/tailor/dyer.dm
Labels: Bug Fix

#2633 hepatectomy fix (Liver Fix)
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/surgeries/hepatectomy.dm
  roguetown.dme
Labels: Bug Fix

#2634 Nerfs non steel spears, buffs flails a bit, murders leather bracer exploit
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/clothing/rogueclothes/wrists/wrists.dm
Labels: Balance, Bug Fix

#2625 Fixes head attachment surgery disconnects.
  code/modules/mob/mob_movement.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
Labels: Test Merge

#2644 Stops outsiders from being announced via Scoms
  code/modules/jobs/job_types/_job.dm
Labels: Test Merge

#2606 Gives turfs their ImmediateCalculateAdjacentTurfs() proc on init
  code/game/turfs/turf.dm
Labels: Test Merge

#2599 Graggarite ritual
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/surgery/surgeries/graggar_ritual.dm
  roguetown.dme
Labels: Test Merge

#2595 Specials changes V2
  code/datums/special_traits/traits/traits.dm
Labels: Test Merge

#2594 Removes mog from the filter
  strings/accent_universal.json
Labels: Requested Changes

#2555 Physician Rebalancing, Adds Farming to Scholar/Physician
  code/modules/jobs/job_types/roguetown/towners/types/towndoctor.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance, Test Merge
