Repository Rotwood-Vale/Ratwood-Keep, pull requests merged in 2025-06, with the labels that each got.

#2924 PORTS ROYAL CURLS AS A HAIRSTYLE.
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#2939 removes extra frame from anklet
  icons/roguetown/clothing/onmob/feet.dmi
Labels: Spriting

#2896 adds small race versions of some clothes, sprite adjusting
  code/modules/clothing/rogueclothes/armor/armor.dm
  code/modules/clothing/rogueclothes/cloaks/cloaks.dm
  code/modules/clothing/rogueclothes/mage.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/mage.dmi
Labels: Spriting, Test Merge

#2874 Map change fix (QOL)
  code/modules/admin/verbs/maprotation.dm
Labels: Test Merge

#2879 Drakian Statblock Buff
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
Labels: Balance, Test Merge

#2888 Jam goblin encampment revamp
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping, Test Merge

#2921 Added ability to recolour character chatlog text on a per-recipient basis
  code/datums/mind.dm
  code/game/objects/items/love_potion.dm
  code/game/say.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/mob/mob.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Balance, Test Merge

#2951 Mapping issue
  _maps/map_files/generic/CentCom.dmm
Labels: Bug Fix

#2949 Removal of Grenzel Kommandant
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft_kommandant.dm
  roguetown.dme
Labels: Balance

#2922 Fixes gloves, mask, and wrist offsets for small races.
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Test Merge

#2966 Fixes a small exploit to avoid infernal feathers
  code/modules/paperwork/paper.dm
Labels: Bug Fix

#2937 NPC Mobility Update
  code/__HELPERS/AStar.dm
  code/__HELPERS/game.dm
  code/_onclick/other_mobs.dm
  code/datums/ai/ai_movement/astar_movement.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/structures/roguetown/newtree.dm
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/carbon/human/npc/bum.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Test Merge

#2943 Fix furry deadites and allow NPC deadites to be randomly-generated furries
  code/modules/client/preferences.dm
  code/modules/client/preferences_descriptors.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/dead/new_player/sprite_accessory/_sprite_accessory.dm
  code/modules/mob/dead/new_player/sprite_accessory/eyes.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/furry/axian.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Test Merge

#2965 Edits to Goblin Race and Some of the Tribe Tutorials
  code/modules/jobs/job_types/roguetown/goblin/goblinchief.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinrabble.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
Labels: Balance

#2968 Removes Inhumen/Psydonite/Zizoid Novitiate
  code/modules/jobs/job_types/roguetown/youngfolk/novitiate.dm
Labels: Balance

#2840 Smithing adjusements: Ports AP obj_fix, changes ingot heat, auto repair
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/game/objects/obj_defense.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/rogueclothes/mask/mask.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/farming/bin.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/forge.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/mages/magestructures.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/spells/roguetown/acolyte/malum.dm
  icons/roguetown/items/ore.dmi
Labels: Spriting, Test Merge

#2880 Revert "Add Islander (Caribbean) accent (#2760)"
  code/modules/mob/living/carbon/human/species_types/roguetown/roguetown_species.dm
  modular/code/datums/accents.dm
  strings/caribbean_replacement.json
Labels: Test Merge

#2902 Elderbaum is angry! Makes dryad when hit.
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance, Test Merge, Feature/Content

#2881 Bandit Additions - Kidnapping & Branding FIX ( Original is #2630)
  code/__DEFINES/traits.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/cargo/packsrogue/_pack.dm
  code/modules/cargo/packsrogue/_rogue.dm
  code/modules/cargo/packsrogue/bandit/brigand.dm
  code/modules/cargo/packsrogue/bandit/brigand_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/brigand_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/clothing.dm
  code/modules/cargo/packsrogue/bandit/consumables.dm
  code/modules/cargo/packsrogue/bandit/foresworn.dm
  code/modules/cargo/packsrogue/bandit/foresworn_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/foresworn_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/gear.dm
  code/modules/cargo/packsrogue/bandit/hedgeknight.dm
  code/modules/cargo/packsrogue/bandit/hedgeknight_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/hedgeknight_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/knave.dm
  code/modules/cargo/packsrogue/bandit/knave_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/knave_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/mage.dm
  code/modules/cargo/packsrogue/bandit/mage_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/mage_second_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/sawbones.dm
  code/modules/cargo/packsrogue/bandit/sawbones_first_supply_pack.dm
  code/modules/cargo/packsrogue/bandit/sawbones_second_supply_pack.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  roguetown.dme
Labels: Test Merge, Feature/Content

#2905 Memory & Nerve Master job anonymisation improvements
  code/__DEFINES/is_helpers.dm
  code/datums/mind.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/roguetown/roguemachine/steward.dm
Labels: Test Merge, Feature/Content

#2909 Forlorn tweaks and choice of weapons
  code/modules/jobs/job_types/roguetown/mercenaries/types/forlorn.dm
Labels: Balance, Test Merge

#2941 allows pickpocketing from sleeping and closed eye humans
  code/_onclick/other_mobs.dm
Labels: Balance, Test Merge

#2953 No more Pysdonite Duke
  code/modules/jobs/job_types/roguetown/nobility/ruler.dm
Labels: Balance, Test Merge

#2984 23 flowers to wear (random spawn in bog)
  code/game/objects/effects/spawners/roguemapgen.dm
  code/modules/clothing/rogueclothes/hats/hats.dm
  code/modules/roguetown/mapgen/bog.dm
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/misc/flowerspack.dmi
Labels: Spriting

#2857 Godless characters dont care about excommunication
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance

#2996 Flowers fix
  code/game/objects/effects/spawners/roguemapgen.dm
Labels: Bug Fix

#2962 Makes Mana Fountain Indestructible, Light Poles Destructible, Shows Resistance flags on examine.
  code/_onclick/item_attack.dm
  code/game/objects/examine.dm
  code/game/objects/fluff.dm
  code/game/objects/lighting/roguelighting.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/modules/roguetown/roguejobs/mages/magestructures.dm
Labels: Test Merge, Feature/Content

#2976 Standardizes reagent container logic (adds features too plz read gyran!!)
  code/__DEFINES/combat.dm
  code/datums/components/storage/pot.dm
  code/game/atoms.dm
  code/modules/farming/bin.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
Labels: Test Merge

#2849 Recipe name standardization
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/rockhillv2/haeangongguk.dmm
  _maps/map_files/templates/lil_bog_shack/bog_shack_small_1.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/map_files/templates/smalldungeons/smalldungeon1.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/game/objects/items/rogueitems/bait.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/multistage/siege/onager_unfinished.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac_wonders.dm
  code/modules/farming/crafting_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/gravedigger/gravemarker.dm
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  code/modules/roguetown/roguejobs/mages/magestructures.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  modular/code/modules/crafting/lewd/dildo_crafting.dm
Labels: Mapping, Test Merge

#2975 Remove skeleton genitalia
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  code/modules/mob/living/carbon/human/npc/zizombies.dm
  code/modules/spells/roguetown/necromancer.dm
Labels: Test Merge, Bug Fix

#3010 Alternative hand intent fix on forceMove
  code/game/atoms_movable.dm
Labels: Test Merge

#3007 You must wield polearms for their defense value
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Balance, Test Merge

#3002 Unanchors anvils, combat mode allows damage to them
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
Labels: Test Merge, Bug Fix

#2986 Adds zizo bane mushroom to code
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/rogueitems/natural/zizobane.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/mapgen/bog.dm
  icons/effects/effects.dmi
  icons/obj/flora/rogueflora.dmi
  roguetown.dme
  sound/items/mushroom_step.ogg
Labels: Spriting, Test Merge, Feature/Content

#3009 Hoardmaster changes
  code/modules/roguetown/roguemachine/hoardmaster.dm
Labels: Balance, Test Merge

#2977 AP Greatweapon Strap
  code/modules/clothing/rogueclothes/storage/gwstrap.dm
  code/modules/jobs/job_types/roguetown/bandits/types/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/bandits/types/roguemage.dm
  code/modules/jobs/job_types/roguetown/garrison/manatarms/types/halberdier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/types/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/gwstrap.dmi
  roguetown.dme
Labels: Balance, Spriting, Test Merge

#2982 Nerfs WWs stealth
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
Labels: Test Merge

#2987 Lets Mercenaries be Werewolves
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Test Merge

#2956 Adds Goblins and Seelies to Zybantine Slave Roster
  code/datums/migrants/migrant_roles/slaver roles.dm
Labels: Test Merge

#2961 Jam Map Changes v4
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping, Test Merge

#3027 Aphrodesiacs because why not
  code/datums/sexcon/sexcon.dm
  code/datums/sexcon/sexcon_reagents.dm
  code/datums/status_effects/rogue/debuff.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  icons/mob/screen_alert.dmi
  roguetown.dme
Labels: Spriting

#3030 Gives Werewolves The Shaft.
  code/datums/sexcon/sexcon.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
  icons/roguetown/mob/monster/werewolf.dmi
Labels: Spriting

#3024 Makes coif grayscale, gives default color
  code/modules/clothing/rogueclothes/neck/neck.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Spriting

#3022 Ports actors menu (lobby manifest) from Azure Peak
  code/_globalvars/logging.dm
  code/controllers/subsystem/migrants.dm
  code/datums/browser.dm
  code/datums/migrants/_migrant_role.dm
  code/datums/migrants/migrant_pref.dm
  code/datums/migrants/migrant_roles/bandit.dm
  code/datums/migrants/migrant_roles/gronn_roles.dm
  code/datums/migrants/migrant_roles/werewolf.dm
  code/modules/client/preferences.dm
  code/modules/client/roundendmanifest.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/bandits/bandit.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/underworld/underworld.dm
Labels: Test Merge, Feature/Content

#3015 Explains Towner houses to Towners
  code/modules/jobs/job_types/roguetown/towners/towner.dm
Labels: Documentation, Test Merge

#3020 Start of loadout framework
  code/_globalvars/special_traits.dm
  code/datums/loadout.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  roguetown.dme
Labels: Balance, Test Merge
